// COLORS
$color_primary_light_green: #74dd4f
$color_primary_dark_green: #44af8c
$color_direct_safety: #F25B39
$color_direct_ecology: #74dd4f
$color_direct_surveys: #929292
$color_direct_academy: #1069FE
$color_direct_soft: #748AAB
$color_direct_foundation: #FFAD31
$color_direct_journal: #2F8672
$color_direct_certification: #2CCA97
$color_direct_people: #A380FF
$color_direct_life: #1CB8E4

$color_neutral_background_white: #f2f2f2
$color_neutral_white: #f8f8f8
$color_neutral_error: #FF4D25

$color_neutral_light_grey: #b7bbc3
$color_neutral_grey: #727882
$color_neutral_dark_grey: #4b535c
$color_neutral_black: #3a434d

// GRADIENTS PRIMARY
$gradient_horizontal_primary: linear-gradient(to right, #42AD8E, #74DD4F)
$gradient_vertical_primary: linear-gradient(to top, #74DD4F, #42AD8E)

$hover_horizontal_primary: linear-gradient(to right, #74DD4F, #74DD4F)
$hover_vertical_primary: linear-gradient(to top, #74DD4F, #74DD4F)

// GRADIENTS DIRECTS
$gradient_safety: linear-gradient(128deg, #ffa734, #f24868)
$gradient_ecology: linear-gradient(133deg, #cbf26e, #74dd4f, #4bbb24)
$gradient_surveys: linear-gradient(132deg, #929292, #4b4b4b)
$gradient_academy: linear-gradient(131deg, #8cb7ff, #1069fe)
$gradient_soft: linear-gradient(131deg, #c4cde1, #748aab)
$gradient_foundation: linear-gradient(to right, #ffad31, #ff6614)
$gradient_journal: linear-gradient(147deg, #2fd8b1, #2f8672)
$gradient_certification: linear-gradient(119deg, #3eb8a3, #175fab)
$gradient_people: linear-gradient(131deg, #a380ff, #3934c7)
$gradient_life: linear-gradient(128deg, #1cb8e4, #1e6fd9)

$hover_safety: linear-gradient(128deg, #ffa734, #ffa734)
$hover_ecology: linear-gradient(133deg, #cbf26e, #cbf26e, #cbf26e)
$hover_surveys: linear-gradient(132deg, #929292, #929292)
$hover_academy: linear-gradient(131deg, #8cb7ff, #8cb7ff)
$hover_soft: linear-gradient(131deg, #c4cde1, #c4cde1)
$hover_foundation: linear-gradient(to right, #ffad31, #ff6614)
$hover_journal: linear-gradient(147deg, #2fd8b1, #2fd8b1)
$hover_certification: linear-gradient(119deg, #3eb8a3, #3eb8a3)
$hover_people: linear-gradient(131deg, #a380ff, #a380ff)
$hover_life: linear-gradient(128deg, #1cb8e4, #1cb8e4)

/* UNIVERSAL CLASSES - TEXT NEUTRAL COLORS

.color
  &-background-white
    color: $color_neutral_background_white

  &-white
    color: $color_neutral_white

  &-error
    color: $color_neutral_error

  &-light-grey
    color: $color_neutral_light_grey

  &-grey
    color: $color_neutral_grey

  &-dark-grey
    color: $color_neutral_dark_grey

  &-black
    color: $color_neutral_black

/* UNIVERSAL CLASSES - HOVER TEXT NEUTRAL COLORS

.hover-color
  &-background-white:hover
    color: $color_neutral_background_white

  &-white:hover
    color: $color_neutral_white

  &-error:hover
    color: $color_neutral_error

  &-light-grey:hover
    color: $color_neutral_light_grey

  &-grey:hover
    color: $color_neutral_grey

  &-dark-grey:hover
    color: $color_neutral_dark_grey

  &-black:hover
    color: $color_neutral_black

/* UNIVERSAL CLASSES - BACKGROUND NEUTRAL COLORS

.bg-color
  &-background-white
    background-color: $color_neutral_background_white

  &-white
    background-color: $color_neutral_white

  &-error
    background-color: $color_neutral_error

  &-light-grey
    background-color: $color_neutral_light_grey

  &-grey
    background-color: $color_neutral_grey

  &-dark-grey
    background-color: $color_neutral_dark_grey

  &-black
    background-color: $color_neutral_black

/* UNIVERSAL CLASSES - HOVER BACKGROUND NEUTRAL COLORS

.hover-bg-color
  &-background-white:hover
    background-color: $color_neutral_background_white

  &-white:hover
    background-color: $color_neutral_white

  &-error:hover
    background-color: $color_neutral_error

  &-light-grey:hover
    background-color: $color_neutral_light_grey

  &-grey:hover
    background-color: $color_neutral_grey

  &-dark-grey:hover
    background-color: $color_neutral_dark_grey

  &-black:hover
    background-color: $color_neutral_black

/* UNIVERSAL CLASSES - TEXT COLORS

.color
  &-primary-light-green
    color: $color_primary_light_green

  &-primary-dark-green
    color: $color_primary_dark_green

  &-safety
    color: $color_direct_safety

  &-ecology
    color: $color_direct_ecology

  &-surveys
    color: $color_direct_surveys

  &-academy
    color: $color_direct_academy

  &-soft
    color: $color_direct_soft

  &-foundation
    color: $color_direct_foundation

  &-journal
    color: $color_direct_journal

  &-certification
    color: $color_direct_certification

  &-people
    color: $color_direct_people

  &-life
    color: $color_direct_life

/* UNIVERSAL CLASSES - HOVER TEXT COLORS

.hover-color
  &-primary-light-green:hover
    color: $color_primary_light_green

  &-primary-dark-green:hover
    color: $color_primary_dark_green

  &-safety:hover
    color: $color_direct_safety

  &-ecology:hover
    color: $color_direct_ecology

  &-surveys:hover
    color: $color_direct_surveys

  &-academy:hover
    color: $color_direct_academy

  &-soft:hover
    color: $color_direct_soft

  &-foundation:hover
    color: $color_direct_foundation

  &-journal:hover
    color: $color_direct_journal

  &-certification:hover
    color: $color_direct_certification

  &-people:hover
    color: $color_direct_people

  &-life:hover
    color: $color_direct_life

/* UNIVERSAL CLASSES - BACKGROUND COLORS

.bg-color
  &-primary-light-green
    background-color: $color_primary_light_green

  &-primary-dark-green
    background-color: $color_primary_dark_green

  &-safety
    background-color: $color_direct_safety

  &-ecology
    background-color: $color_direct_ecology

  &-surveys
    background-color: $color_direct_surveys

  &-academy
    background-color: $color_direct_academy

  &-soft
    background-color: $color_direct_soft

  &-foundation
    background-color: $color_direct_foundation

  &-journal
    background-color: $color_direct_journal

  &-certification
    background-color: $color_direct_certification

  &-people
    background-color: $color_direct_people

  &-life
    background-color: $color_direct_life

/* UNIVERSAL CLASSES - HOVER BACKGROUND COLORS

.hover-bg-color
  &-primary-light-green:hover
    background-color: $color_primary_light_green

  &-primary-dark-green:hover
    background-color: $color_primary_dark_green

  &-safety:hover
    background-color: $color_direct_safety

  &-ecology:hover
    background-color: $color_direct_ecology

  &-surveys:hover
    background-color: $color_direct_surveys

  &-academy:hover
    background-color: $color_direct_academy

  &-soft:hover
    background-color: $color_direct_soft

  &-foundation:hover
    background-color: $color_direct_foundation

  &-journal:hover
    background-color: $color_direct_journal

  &-certification:hover
    background-color: $color_direct_certification

  &-people:hover
    background-color: $color_direct_people

  &-life:hover
    background-color: $color_direct_life

/* UNIVERSAL CLASSES - TEXT GRADIENTS

.gradient
  &-horizontal-primary
    background: $gradient_horizontal_primary
    background-clip: text
    color: transparent

    &.hoverable:hover
      background: $hover_horizontal_primary

  &-vertical-primary
    background: $gradient_vertical_primary
    background-clip: text
    color: transparent

    &.hoverable:hover
      background: $hover_vertical_primary

  &-safety
    background: $gradient_safety
    background-clip: text
    color: transparent

    &.hoverable:hover
      background: $hover_safety

  &-ecology
    background: $gradient_ecology
    background-clip: text
    color: transparent

    &.hoverable:hover
      background: $hover_ecology

  &-surveys
    background: $gradient_surveys
    background-clip: text
    color: transparent

    &.hoverable:hover
      background: $hover_surveys

  &-academy
    background: $gradient_academy
    background-clip: text
    color: transparent

    &.hoverable:hover
      background: $hover_academy

  &-soft
    background: $gradient_soft
    background-clip: text
    color: transparent

    &.hoverable:hover
      background: $hover_soft

  &-foundation
    background: $gradient_foundation
    background-clip: text
    color: transparent

    &.hoverable:hover
      background: $hover_foundation

  &-journal
    background: $gradient_journal
    background-clip: text
    color: transparent

    &.hoverable:hover
      background: $hover_life

  &-certification
    background: $gradient_certification
    background-clip: text
    color: transparent

    &.hoverable:hover
      background: $hover_certification

  &-people
    background: $gradient_people
    background-clip: text
    color: transparent

    &.hoverable:hover
      background: $hover_people

  &-life
    background: $gradient_life
    background-clip: text
    color: transparent

    &.hoverable:hover
      background: $hover_life

/* UNIVERSAL CLASSES - BACKGROUND GRADIENTS

.bg-gradient
  &-horizontal-primary
    background: $gradient_horizontal_primary

    &.hoverable:hover
      background: $hover_horizontal_primary

  &-vertical-primary
    background: $gradient_vertical_primary

    &.hoverable:hover
      background: $hover_vertical_primary

  &-safety
    background: $gradient_safety

    &.hoverable:hover
      background: $hover_safety

  &-ecology
    background: $gradient_ecology

    &.hoverable:hover
      background: $hover_ecology

  &-surveys
    background: $gradient_surveys

    &.hoverable:hover
      background: $hover_surveys

  &-academy
    background: $gradient_academy

    &.hoverable:hover
      background: $hover_academy

  &-soft
    background: $gradient_soft

    &.hoverable:hover
      background: $hover_soft

  &-foundation
    background: $gradient_foundation

    &.hoverable:hover
      background: $hover_foundation

  &-journal
    background: $gradient_journal

    &.hoverable:hover
      background: $hover_journal

  &-certification
    background: $gradient_certification

    &.hoverable:hover
      background: $hover_certification

  &-people
    background: $gradient_people

    &.hoverable:hover
      background: $hover_people

  &-life
    background: $gradient_life

    &.hoverable:hover
      background: $hover_life