.container
  max-width: calc(1920px - 64px * 2)
  //padding: 0 64px
  margin: 0 auto

  &-fluid
    max-width: initial

@media(max-width: 1920px)
  .container
    max-width: calc(100% - 32px * 2)

    &-fluid
      max-width: initial

@media(max-width: 640px)
  .container
    max-width: calc(100% - 24px * 2)

    &-fluid
      max-width: initial

.section
  margin-bottom: 100px

  &:last-of-type
    margin-bottom: 0




.text-center
  text-align: center

.m-0
  margin: 0 !important

.p-40
  padding: 40px

.pt
  &-20
    padding-top: 20px

  &-30
    padding-top: 30px

  &-40
    padding-top: 40px







.d-none
  display: none !important

.d-flex
  display: flex

.flex-jcc
  display: flex
  justify-content: center

.flex-aic
  display: flex
  align-items: center

.flex-cc
  display: flex
  justify-content: center
  align-items: center

.d-flex-w
  display: flex
  flex-wrap: wrap

.d-flex-col
  display: flex
  flex-direction: column



.fxd-col
  flex-direction: column

.row
  display: flex
  gap: 16px

.el-100
  width: calc(100% - 16px / 2)

.el-50
  width: calc(50% - 16px / 2)

.el-33
  width: calc(100% / 3 - 16px * 2 / 3)
  margin-right: 16px

  &:nth-child(3n)
    margin-right: 0

.el-25
  width: calc(25% - 16px / 2)

.bg-dark
  background: #1e1e1e