.nobsp-m-0
    margin: 0 !important

.nobsp-mr-0
    margin-right: 0 !important


.nobsp-mt
    &-80
      margin-top: 80px !important

    &-100
      margin-top: 100px !important

.nobsp-ml
  &-16
    margin-left: 16px !important

.nobsp-mb
  &-0,
  &-0.card-neutral-white,
  &-0.card-neutral-white:first-child
    margin-bottom: 0 !important

  &-4,
  &-4.card-neutral-white
    margin-bottom: 4px !important

  &-14
    margin-bottom: 14px !important

  &-16,
  &-16.card-neutral-white
    margin-bottom: 16px !important
  //,
  //&-16.card-neutral-white.col-lg-6:nth-last-child(2)

  &-20,
  &-20.card-neutral-white
    margin-bottom: 20px !important

  &-24,
  &-24.card-neutral-white
    margin-bottom: 24px !important



  &-32,
  &-32.card-neutral-white
    margin-bottom: 32px !important

  &-52,
  &-52.card-neutral-white
    margin-bottom: 52px !important

  &-8
    margin-bottom: 8px !important


@media(min-width: 1920px)
  .nobsp-mb-xxl
    &-0,
    &-0.card-neutral-white,
    &-0.card-neutral-white:first-child
      margin-bottom: 0 !important

    &-72
      margin-bottom: 72px !important

@media(min-width: 1280px) and (max-width: 1920px)
  .nobsp-mb-xl
    &-0,
    &-0.card-neutral-white,
    &-0.card-neutral-white:first-child
      margin-bottom: 0 !important

    &-72
      margin-bottom: 72px !important

@media(min-width: 640px) and (max-width: 960px)
  .nobsp-m-lg-0
    margin: 0 !important


@media(min-width: 640px) and (max-width: 959.5px)

  .nobsp-m-md-0
    margin: 0 !important

  .nobsp-mb-md
    &-4,
    &-4.card-neutral-white
      margin-bottom: 4px !important

    &-16,
    &-16.card-neutral-white,
    &-16.card-neutral-white.col-md-12,
    &-16.card-neutral-white:first-child
      margin-bottom: 16px !important

    &-20
      margin-bottom: 20px !important

    &-24
      margin-bottom: 24px !important

    &-40
      margin-bottom: 40px !important

@media(min-width: 360px) and (max-width: 639.5px)
  .nobsp-m-sm-0
    margin: 0 !important

  .nobsp-mb-sm
    &-4,
    &-4.card-neutral-white
      margin-bottom: 4px !important

    &-16,
    &-16.card-neutral-white,
    &-16.card-neutral-white.col-md-12,
    &-16.card-neutral-white:first-child
      margin-bottom: 16px !important

    &-20
      margin-bottom: 20px !important

    &-24
      margin-bottom: 24px !important

    &-32
      margin-bottom: 32px !important




  .mt-sm
    &-80
      margin-top: 80px !important

    &-100
      margin-top: 100px !important


    &-36
      border-radius: 36px !important






