.container {
  padding: 0 24px !important;
}
.container-fluid {
  padding: 0 0 !important;
}

@media (min-width: 640px) {
  .container {
    padding: 0 32px !important;
  }
  .container-fluid {
    padding: 0 0 !important;
  }
}
@media (min-width: 1920px) {
  .container {
    max-width: 1792px;
    margin: 0 auto;
    padding: 0 !important;
  }
  .container-fluid {
    padding: 0 0 !important;
  }
}
.title-section-name_dev span {
  line-height: 62px;
}

.pos-rel {
  position: relative;
}

.section {
  margin-bottom: 100px;
}
.section:last-of-type {
  margin-bottom: 0;
}

.img-sz36 {
  width: 36px !important;
  height: 36px !important;
}

.h-250 {
  height: 250px !important;
}

.text-center {
  text-align: center;
}

.t--18 {
  top: -18px !important;
}

.m-0 {
  margin: 0 !important;
}

.mr-0 {
  margin-right: 0 !important;
}

.p-40 {
  padding: 40px;
}

.pt-0 {
  padding-top: 0;
}
.pt-18 {
  padding-top: 18px !important;
}
.pt-20 {
  padding-top: 20px;
}
.pt-30 {
  padding-top: 30px;
}
.pt-40 {
  padding-top: 40px;
}

.w-100p {
  width: 100% !important;
}

.h-100p {
  height: 100% !important;
}

.mb-16 {
  margin-bottom: 16px !important;
}
.mb-20 {
  margin-bottom: 20px !important;
}
.mb-32 {
  margin-bottom: 32px !important;
}
.mb-52 {
  margin-bottom: 52px !important;
}

.pos-abs-l-0 {
  position: absolute;
  left: 0;
}
.pos-abs-r-0 {
  position: absolute;
  right: 0;
}
.pos-abs-r-32 {
  position: absolute;
  right: 32px;
}
.pos-abs-b-32 {
  position: absolute;
  bottom: 32px;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mb-8 {
  margin-bottom: 8px !important;
}

.mb-design {
  margin-bottom: 52px !important;
}
.mb-design-2 {
  margin-bottom: 32px !important;
}

.mb-design-gap-v {
  margin-bottom: 16px !important;
}
.mb-design-gap-v > div {
  margin-bottom: 0 !important;
}

@media (max-width: 639px) {
  .mb-design {
    margin-bottom: 32px !important;
  }
  .mb-design-2 {
    margin-bottom: 20px !important;
  }
}
@media (max-width: 959px) {
  .mb-design-gap-v {
    margin-bottom: 8px !important;
  }
  .mb-design-gap-v > div {
    margin-bottom: 8px !important;
  }
}
.d-none {
  display: none !important;
}

.of-hidden {
  overflow: hidden !important;
}

.of-initial {
  overflow: initial !important;
}

.d-block {
  display: block !important;
}

.d-flex {
  display: flex;
}

.flex-jcc {
  display: flex;
  justify-content: center;
}

.flex-jcfs {
  display: flex;
  justify-content: flex-start !important;
}

.flex-jcsb {
  display: flex;
  justify-content: space-between;
}

.flex-grow-1 {
  flex-grow: 1;
}

.flex-aic {
  display: flex;
  align-items: center;
}

.flex-cc {
  display: flex;
  justify-content: center;
  align-items: center;
}

.d-flex-w {
  display: flex;
  flex-wrap: wrap;
}

@media (min-width: 360px) and (max-width: 640px) {
  .d-flex-no-w-mob {
    display: flex;
    flex-wrap: nowrap;
  }
}
.d-flex-col {
  display: flex;
  flex-direction: column;
}

.fxd-col {
  flex-direction: column;
}

.of-y-scroll {
  overflow-y: scroll;
}

.el-100 {
  width: calc(100% - 8px);
}

.el-50 {
  width: calc(50% - 8px);
}

.el-33 {
  width: calc(33.3333333333% - 10.6666666667px);
  margin-right: 16px;
}
.el-33:nth-child(3n) {
  margin-right: 0;
}

.el-25 {
  width: calc(25% - 8px);
}

.bg-dark {
  background: #1e1e1e;
}

@media (min-width: 360px) and (max-width: 640px) {
  .v-col-50:first-child {
    position: absolute;
    top: 0;
    bottom: calc(50% + 4px);
  }
  .v-col-50:last-child {
    position: absolute;
    top: calc(50% + 4px);
    bottom: 0;
  }
}
@media (min-width: 640px) and (max-width: 960px) {
  .v-col-md-50:first-child {
    position: absolute;
    top: 0;
    bottom: calc(50% + 4px);
  }
  .v-col-md-50:last-child {
    position: absolute;
    top: calc(50% + 4px);
    bottom: 0;
  }
}
@media (min-width: 960px) and (max-width: 1280px) {
  .v-col-lg-50:first-child {
    position: absolute;
    top: 0;
    bottom: calc(50% + 8px);
  }
  .v-col-lg-50:last-child {
    position: absolute;
    top: calc(50% + 8px);
    bottom: 0;
  }
}
@media (min-width: 1280px) and (max-width: 1919.5px) {
  .v-col-xl-50:first-child {
    position: absolute;
    top: 0;
    bottom: calc(50% + 8px);
  }
  .v-col-xl-50:last-child {
    position: absolute;
    top: calc(50% + 8px);
    bottom: 0;
  }
}
@media (min-width: 1920px) {
  .v-col-xxl-50:first-child {
    position: absolute;
    top: 0;
    bottom: calc(50% + 8px);
  }
  .v-col-xxl-50:last-child {
    position: absolute;
    top: calc(50% + 8px);
    bottom: 0;
  }
}
.owl-carousel.owl-stage-pt-3 .owl-stage-outer {
  padding-top: 3px;
  margin-top: -3px;
}

.carousel-section {
  padding-top: 3px !important;
  margin-top: -3px !important;
}
.carousel-section .owl-stage-outer {
  padding-top: 0 !important;
  margin-top: 0 !important;
}

.carousel-section {
  overflow: hidden;
}
.carousel-section .owl-stage-outer {
  overflow: initial !important;
}

.carousel-container {
  max-width: 1140px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  width: 100%;
}

/*# sourceMappingURL=grid.css.map */
