.clamp-line-1
  display: -webkit-box
  overflow: hidden
  -webkit-box-orient: vertical
  -webkit-line-clamp: 1

.clamp-line-2
  display: -webkit-box
  overflow: hidden
  -webkit-box-orient: vertical
  -webkit-line-clamp: 2

.clamp-line-3
  display: -webkit-box
  overflow: hidden
  -webkit-box-orient: vertical
  -webkit-line-clamp: 3

.clamp-line-4
  display: -webkit-box
  overflow: hidden
  -webkit-box-orient: vertical
  -webkit-line-clamp: 4

@media (min-width: 0px) 
  .clamp-line-sm-1
    display: -webkit-box !important
    overflow: hidden !important
    -webkit-box-orient: vertical !important
    -webkit-line-clamp: 1 !important

  .clamp-line-sm-2
    display: -webkit-box !important
    overflow: hidden !important
    -webkit-box-orient: vertical !important
    -webkit-line-clamp: 2 !important

  .clamp-line-sm-3
    display: -webkit-box !important
    overflow: hidden !important
    -webkit-box-orient: vertical !important
    -webkit-line-clamp: 3 !important

  .clamp-line-sm-4
    display: -webkit-box
    overflow: hidden
    -webkit-box-orient: vertical
    -webkit-line-clamp: 4

  .w-sm-auto
    width: auto !important

  .w-sm-100
    width: 100% !important

  .hover-sm-w-100:hover
    width: 100% !important

@media (min-width: 640px) 
  .clamp-line-md-1
    display: -webkit-box !important
    overflow: hidden !important
    -webkit-box-orient: vertical !important
    -webkit-line-clamp: 1 !important

  .clamp-line-md-2
    display: -webkit-box !important
    overflow: hidden !important
    -webkit-box-orient: vertical !important
    -webkit-line-clamp: 2 !important

  .clamp-line-md-3
    display: -webkit-box !important
    overflow: hidden !important
    -webkit-box-orient: vertical !important
    -webkit-line-clamp: 3 !important

  .clamp-line-md-4
    display: -webkit-box
    overflow: hidden
    -webkit-box-orient: vertical
    -webkit-line-clamp: 4

  .w-md-auto
    width: auto !important

  .w-md-100
    width: 100% !important

  .hover-md-w-100:hover
    width: 100% !important

@media (min-width: 960px) 
  .clamp-line-lg-1
    display: -webkit-box !important
    overflow: hidden !important
    -webkit-box-orient: vertical !important
    -webkit-line-clamp: 1 !important

  .clamp-line-lg-2
    display: -webkit-box !important
    overflow: hidden !important
    -webkit-box-orient: vertical !important
    -webkit-line-clamp: 2 !important

  .clamp-line-lg-3
    display: -webkit-box !important
    overflow: hidden !important
    -webkit-box-orient: vertical !important
    -webkit-line-clamp: 3 !important

  .clamp-line-lg-4
    display: -webkit-box
    overflow: hidden
    -webkit-box-orient: vertical
    -webkit-line-clamp: 4

  .w-lg-auto
    width: auto !important

  .w-lg-100
    width: 100% !important

  .hover-lg-w-100:hover
    width: 100% !important

@media (min-width: 1280px) 
  .clamp-line-xl-1
    display: -webkit-box !important
    overflow: hidden !important
    -webkit-box-orient: vertical !important
    -webkit-line-clamp: 1 !important

  .clamp-line-xl-2
    display: -webkit-box !important
    overflow: hidden !important
    -webkit-box-orient: vertical !important
    -webkit-line-clamp: 2 !important

  .clamp-line-xl-3
    display: -webkit-box !important
    overflow: hidden !important
    -webkit-box-orient: vertical !important
    -webkit-line-clamp: 3 !important

  .clamp-line-xl-4
    display: -webkit-box
    overflow: hidden
    -webkit-box-orient: vertical
    -webkit-line-clamp: 4

  .w-xl-auto
    width: auto !important

  .w-xl-100
    width: 100% !important

  .hover-xl-w-100:hover
    width: 100% !important

@media (min-width: 1920px) 
  .clamp-line-xxl-1
    display: -webkit-box !important
    overflow: hidden !important
    -webkit-box-orient: vertical !important
    -webkit-line-clamp: 1 !important

  .clamp-line-xxl-2
    display: -webkit-box !important
    overflow: hidden !important
    -webkit-box-orient: vertical !important
    -webkit-line-clamp: 2 !important

  .clamp-line-xxl-3
    display: -webkit-box !important
    overflow: hidden !important
    -webkit-box-orient: vertical !important
    -webkit-line-clamp: 3 !important

  .clamp-line-xxl-4
    display: -webkit-box
    overflow: hidden
    -webkit-box-orient: vertical
    -webkit-line-clamp: 4

  .w-xxl-auto
    width: auto !important

  .w-xxl-100
    width: 100% !important

  .hover-xxl-w-100:hover
    width: 100% !important
