// Базовые классы scale
.scale-110
  scale: 110% !important

.scale-120
  scale: 120% !important

.scale-130
  scale: 130% !important

.scale-140
  scale: 140% !important

.scale-150
  scale: 150% !important

.scale-160
  scale: 160% !important

.scale-170
  scale: 170% !important

.scale-180
  scale: 180% !important

.scale-190
  scale: 190% !important

.scale-200
  scale: 200% !important

// md - min-width: 640px
@media (min-width: 640px)
  .scale-md-110
    scale: 110% !important
  .scale-md-120
    scale: 120% !important
  .scale-md-130
    scale: 130% !important
  .scale-md-140
    scale: 140% !important
  .scale-md-150
    scale: 150% !important
  .scale-md-160
    scale: 160% !important
  .scale-md-170
    scale: 170% !important
  .scale-md-180
    scale: 180% !important
  .scale-md-190
    scale: 190% !important
  .scale-md-200
    scale: 200% !important

// lg - min-width: 960px
@media (min-width: 960px)
  .scale-lg-110
    scale: 110% !important
  .scale-lg-120
    scale: 120% !important
  .scale-lg-130
    scale: 130% !important
  .scale-lg-140
    scale: 140% !important
  .scale-lg-150
    scale: 150% !important
  .scale-lg-160
    scale: 160% !important
  .scale-lg-170
    scale: 170% !important
  .scale-lg-180
    scale: 180% !important
  .scale-lg-190
    scale: 190% !important
  .scale-lg-200
    scale: 200% !important

// xl - min-width: 1280px
@media (min-width: 1280px)
  .scale-xl-110
    scale: 110% !important
  .scale-xl-120
    scale: 120% !important
  .scale-xl-130
    scale: 130% !important
  .scale-xl-140
    scale: 140% !important
  .scale-xl-150
    scale: 150% !important
  .scale-xl-160
    scale: 160% !important
  .scale-xl-170
    scale: 170% !important
  .scale-xl-180
    scale: 180% !important
  .scale-xl-190
    scale: 190% !important
  .scale-xl-200
    scale: 200% !important

// xxl - min-width: 1920px
@media (min-width: 1920px)
  .scale-xxl-110
    scale: 110% !important
  .scale-xxl-120
    scale: 120% !important
  .scale-xxl-130
    scale: 130% !important
  .scale-xxl-140
    scale: 140% !important
  .scale-xxl-150
    scale: 150% !important
  .scale-xxl-160
    scale: 160% !important
  .scale-xxl-170
    scale: 170% !important
  .scale-xxl-180
    scale: 180% !important
  .scale-xxl-190
    scale: 190% !important
  .scale-xxl-200
    scale: 200% !important