
<div class="container">
  <h2 class="title">Прозрачная и&nbsp;комфортная <span>процедура СОУТ</span></h2>
  <div class="cards">
    <div class="cards-item card-gray card-icon">
      <div class="img"><img src="img/section_01/icon_01.svg" alt="icon"/></div>
      <h4 class="title">Вы&nbsp;заранее ознакомитесь со&nbsp;списком исходной документации</h4>
      <div class="description">И&nbsp;сможете собрать её&nbsp;в&nbsp;комфортном темпе. Мы&nbsp;также&nbsp;пришлём шаблон приказа о&nbsp;создании комиссии с&nbsp;графиком проведения СОУТ</div>
    </div>
    <div class="cards-item card-gray card-icon">
      <div class="img"><img src="img/section_01/icon_02.svg" alt="icon"/></div>
      <h4 class="title">Для&nbsp;замеров к&nbsp;вам&nbsp;приедут опытные специалисты</h4>
      <div class="description">С&nbsp;полным комплектом оборудования. Все&nbsp;показатели зафиксируем&nbsp;— в&nbsp;случае претензий от&nbsp;ГИТ&nbsp;вы&nbsp;сможете подтвердить результаты</div>
    </div>
    <div class="cards-item card-gray card-icon">
      <div class="img"><img src="img/section_01/icon_03.svg" alt="icon"/></div>
      <h4 class="title">Вы&nbsp;заранее ознакомитесь со&nbsp;списком исходной документации</h4>
      <div class="description">И&nbsp;сможете собрать её&nbsp;в&nbsp;комфортном темпе. Мы&nbsp;также&nbsp;пришлём шаблон приказа о&nbsp;создании комиссии с&nbsp;графиком проведения СОУТ</div>
    </div>
    <div class="cards-item card-gray card-icon">
      <div class="img"><img src="img/section_01/icon_04.svg" alt="icon"/></div>
      <h4 class="title">Для&nbsp;замеров к&nbsp;вам&nbsp;приедут опытные специалисты</h4>
      <div class="description">С&nbsp;полным комплектом оборудования. Все&nbsp;показатели зафиксируем&nbsp;— в&nbsp;случае претензий от&nbsp;ГИТ&nbsp;вы&nbsp;сможете подтвердить результаты</div>
    </div>
    <div class="cards-item card-gray card-icon">
      <div class="img"><img src="img/section_01/icon_05.svg" alt="icon"/></div>
      <h4 class="title">Вы&nbsp;заранее ознакомитесь со&nbsp;списком исходной документации</h4>
      <div class="description">И&nbsp;сможете собрать её&nbsp;в&nbsp;комфортном темпе. Мы&nbsp;также&nbsp;пришлём шаблон приказа о&nbsp;создании комиссии с&nbsp;графиком проведения СОУТ</div>
    </div>
    <div class="cards-item card-gray card-icon">
      <div class="img"><img src="img/section_01/icon_06.svg" alt="icon"/></div>
      <h4 class="title">Для&nbsp;замеров к&nbsp;вам&nbsp;приедут опытные специалисты</h4>
      <div class="description">С&nbsp;полным комплектом оборудования. Все&nbsp;показатели зафиксируем&nbsp;— в&nbsp;случае претензий от&nbsp;ГИТ&nbsp;вы&nbsp;сможете подтвердить результаты</div>
    </div>
  </div>
</div>