@import ../../colors.sass

$icon-size: 29px

@mixin btn_base

  display: inline-block

  padding: 0
  text-decoration: none

  background: $gradient-safety
  border-radius: 50px

  color: #fff
  font-size: 14px
  font-weight: 500
  line-height: 100%

  overflow: hidden

  border: none
  outline: none
  cursor: pointer

  position: relative

  transition: all .35s ease-out

  & span
    display: block
    padding: 16.5px 24px
    padding-right: calc(16px + $icon-size + 7px)
    height: 100%
    color: #fff
    font-size: 14px
    font-weight: 500
    line-height: 100%

    background: transparent
    -webkit-transition: all .55s ease-in-out
    -moz-transition: all .55s ease-in-out
    -ms-transition: all .55s ease-in-out
    -o-transition: all .55s ease-in-out
    transition: all .55s ease-in-out



.btn
  &-white,
  &-black,

  &-safety,
  &-ecology,
  &-surveys,
  &-academy,
  &-soft,
  &-foundation,
  &-journal,
  &-certification,
  &-people,
  &-life
    @include btn_base

    & span
      padding-right: 24px


  &-white
    & span
      color: $color-neutral-black


.btn-img
  &-white,
  &-black,
  &-safety,
  &-ecology,
  &-surveys,
  &-academy,
  &-soft,
  &-foundation,
  &-journal,
  &-certification,
  &-people,
  &-life
    @include btn_base

    &:after
      content: ''
      width: $icon-size
      height: $icon-size
      background-image: url(../../../img/components/btn/icon_plus_circle.svg)
      position: absolute
      right: 7px
      top: 0
      bottom: 0
      margin: auto

    &.btn-arrow
      &:after
        background-image: url(../../../img/components/btn/icon_arrow_circle.svg)

  &-white
    & span
      color: $color-neutral-black




// HOVERS
.btn,
.btn-img

  // BASE
  &-white
    & span
      background: $color-neutral-white !important

    &:hover
      & span
        background: $color-neutral-white !important

  &-black
    & span
      background: $color-neutral-dark-grey !important

    &:hover
      & span
        background: $color-neutral-grey !important


  // GRADIENTAL
  &-safety
    & span
      background: $gradient_safety !important

    &:hover
      & span
        background: $hover_safety !important

  &-ecology
    & span
      background: $gradient_ecology !important

    &:hover
      & span
        background: $hover_ecology !important

  &-surveys
    & span
      background: $gradient_surveys !important

    &:hover
      & span
        background: $hover_surveys !important

  &-academy
    & span
      background: $gradient_academy !important

    &:hover
      & span
        background: $hover_academy !important

  &-soft
    & span
      background: $gradient_soft !important

    &:hover
      & span
        background: $hover_soft !important

  &-foundation
    & span
      background: $gradient_foundation !important

    &:hover
      & span
        background: $hover_foundation !important

  &-journal
    & span
      background: $gradient_journal !important

    &:hover
      & span
        background: $hover_journal !important

  &-certification
    & span
      background: $gradient_certification !important

    &:hover
      & span
        background: $hover_certification !important

  &-people
    & span
      background: $gradient_people !important

    &:hover
      & span
        background: $hover_people !important

  &-life
    & span
      background: $gradient_life !important

    &:hover
      & span
        background: $hover_life !important


