@import ../../colors.sass

$icon-size: 29px

@mixin btn_base

  display: inline-block

  padding: 0
  text-decoration: none

  border-radius: 50px

  color: #fff
  font-size: 14px
  font-weight: 500
  line-height: 100%

  overflow: hidden

  border: none
  outline: none
  cursor: pointer

  position: relative

  transition: all .35s ease-out

  & span
    display: block
    padding: 14.5px 24px
    padding-right: calc(16px + $icon-size + 7px)
    height: 100%
    color: #fff
    font-size: 14px
    font-weight: 500
    line-height: 100%
    border-radius: 50px

    background: transparent
    -webkit-transition: all .55s ease-in-out
    -moz-transition: all .55s ease-in-out
    -ms-transition: all .55s ease-in-out
    -o-transition: all .55s ease-in-out
    transition: all .55s ease-in-out



.btn
  &-white,
  &-black,
  &-outline,

  &-primary,
  &-safety,
  &-ecology,
  &-surveys,
  &-academy,
  &-soft,
  &-foundation,
  &-journal,
  &-certification,
  &-people,
  &-life
    @include btn_base

    & span
      padding-right: 24px


  &-white
    & span
      color: $color-neutral-black


.btn-img
  &-white,
  &-black,
  &-outline,

  &-primary,
  &-safety,
  &-ecology,
  &-surveys,
  &-academy,
  &-soft,
  &-foundation,
  &-journal,
  &-certification,
  &-people,
  &-life
    @include btn_base

    &:after
      content: ''
      width: $icon-size
      height: $icon-size
      background-image: url(../../../img/components/btn/icon_plus_circle.svg)
      position: absolute
      right: 7px
      top: 0
      bottom: 0
      margin: auto

    &.btn-arrow
      &:after
        background-image: url(../../../img/components/btn/icon_arrow_circle.svg)

    &[disabled],
    &.disabled
      cursor: initial

      &:after
        background-image: url(../../../img/components/btn/icon_plus_circle_disabled.svg)
      & span
        background: $color_neutral_light_grey !important
        color: rgba($color_neutral_white, 20%)

  &-black
    & span
      color: $color_neutral_light_grey

    &:hover

      & span
        background: $color_neutral_dark_grey !important
        color: $color_neutral_white

    &[disabled],
    &.disabled
      cursor: initial

      &:after
        background-image: url(../../../img/components/btn/icon_plus_circle_disabled.svg)
      & span
        background: $color_neutral_dark_grey !important
        color: $color_neutral_grey
        border: 1px solid $color_neutral_grey !important

      &:hover

        & span
          background: $color_neutral_dark_grey !important
          color: $color_neutral_grey
          border: 1px solid $color_neutral_grey !important


    &.btn-arrow
      &:after
        background-image: url(../../../img/components/btn/icon_arrow_circle.svg)

      [disabled],
      &.disabled
        cursor: initial

        &:after
          background-image: url(../../../img/components/btn/icon_arrow_circle_disabled.svg)


  &-white
    &:after
      background-image: url(../../../img/components/btn/icon_plus_circle_green.svg)

    & span
      color: $color-neutral-black






// START BG & HOVERS
.btn,
.btn-img

  // BASE
  &-white
    & span
      background: $color-neutral-white

    &:hover
      & span
        background: $color-neutral-white

  &-black
    & span
      background: $color-neutral-dark-grey

    &:hover
      & span
        background: $color-neutral-grey


  &-outline
    & span
      background: transparent
      color: $color_neutral_black
      border: 1px solid $color_neutral_black

    &:hover
      & span
        background: transparent
        color: $color_neutral_grey
        border: 1px solid $color_neutral_grey



  // GRADIENTAL
  &-primary
    & span
      background: $gradient_horizontal_primary

    &:hover
      & span
        background: $hover_horizontal_primary

  &-safety
    & span
      background: $gradient_safety

    &:hover
      & span
        background: $hover_safety

  &-ecology
    & span
      background: $gradient_ecology

    &:hover
      & span
        background: $hover_ecology

  &-surveys
    & span
      background: $gradient_surveys

    &:hover
      & span
        background: $hover_surveys

  &-academy
    & span
      background: $gradient_academy

    &:hover
      & span
        background: $hover_academy

  &-soft
    & span
      background: $gradient_soft

    &:hover
      & span
        background: $hover_soft

  &-foundation
    & span
      background: $gradient_foundation

    &:hover
      & span
        background: $hover_foundation

  &-journal
    & span
      background: $gradient_journal

    &:hover
      & span
        background: $hover_journal

  &-certification
    & span
      background: $gradient_certification

    &:hover
      & span
        background: $hover_certification

  &-people
    & span
      background: $gradient_people

    &:hover
      & span
        background: $hover_people

  &-life
    & span
      background: $gradient_life

    &:hover
      & span
        background: $hover_life


