.card-icon

  .img
    width: 24px
    height: 24px
    margin-bottom: 20px
    position: relative
    overflow: hidden

    & img
      height: 100%
      object-fit: cover


  p
    font-size: 16px
    line-height: 22px
    margin-bottom: 20px


//@media(max-width: 960px)
//  .card-icon
//
//    .img
//      margin-bottom: 20px