@import ../../colors.sass

.card-gray
  padding: 32px
  background: $color_neutral_white
  border-radius: 36px


@media(max-width: 640px)
  .card-gray
    padding: 20px
    -webkit-border-radius: 30px
    -moz-border-radius: 30px
    border-radius: 30px