/* UNIVERSAL CLASSES - TEXT NEUTRAL COLORS */
.color-background-white {
  color: #f2f2f2 !important;
  transition: all 0.35s ease-out;
}
.color-white {
  color: #f8f8f8 !important;
  transition: all 0.35s ease-out;
}
.color-error {
  color: #FF4D25 !important;
  transition: all 0.35s ease-out;
}
.color-light-grey {
  color: #b7bbc3 !important;
  transition: all 0.35s ease-out;
}
.color-grey {
  color: #727882 !important;
  transition: all 0.35s ease-out;
}
.color-dark-grey {
  color: #4b535c !important;
  transition: all 0.35s ease-out;
}
.color-black {
  color: #3a434d !important;
  transition: all 0.35s ease-out;
}

/* UNIVERSAL CLASSES - HOVER TEXT NEUTRAL COLORS */
.hover-color-background-white:hover {
  color: #f2f2f2 !important;
}
.hover-color-white:hover {
  color: #f8f8f8 !important;
}
.hover-color-error:hover {
  color: #FF4D25 !important;
}
.hover-color-light-grey:hover {
  color: #b7bbc3 !important;
}
.hover-color-grey:hover {
  color: #727882 !important;
}
.hover-color-dark-grey:hover {
  color: #4b535c !important;
}
.hover-color-black:hover {
  color: #3a434d;
}

/* UNIVERSAL CLASSES - BACKGROUND NEUTRAL COLORS */
.bg-color-background-white {
  background-color: #f2f2f2 !important;
  transition: all 0.35s ease-out;
}
.bg-color-white {
  background-color: #f8f8f8 !important;
  transition: all 0.35s ease-out;
}
.bg-color-error {
  background-color: #FF4D25 !important;
  transition: all 0.35s ease-out;
}
.bg-color-light-grey {
  background-color: #b7bbc3 !important;
  transition: all 0.35s ease-out;
}
.bg-color-grey {
  background-color: #727882 !important;
  transition: all 0.35s ease-out;
}
.bg-color-dark-grey {
  background-color: #4b535c !important;
  transition: all 0.35s ease-out;
}
.bg-color-black {
  background-color: #3a434d !important;
  transition: all 0.35s ease-out;
}

/* UNIVERSAL CLASSES - HOVER BACKGROUND NEUTRAL COLORS */
.hover-bg-color-background-white:hover {
  background-color: #f2f2f2 !important;
}
.hover-bg-color-white:hover {
  background-color: #f8f8f8 !important;
}
.hover-bg-color-error:hover {
  background-color: #FF4D25 !important;
}
.hover-bg-color-light-grey:hover {
  background-color: #b7bbc3 !important;
}
.hover-bg-color-grey:hover {
  background-color: #727882 !important;
}
.hover-bg-color-dark-grey:hover {
  background-color: #4b535c !important;
}
.hover-bg-color-black:hover {
  background-color: #3a434d !important;
}

/* UNIVERSAL CLASSES - TEXT COLORS */
.color-primary-light-green {
  color: #74dd4f !important;
  transition: all 0.35s ease-out;
}
.color-primary-dark-green {
  color: #44af8c !important;
  transition: all 0.35s ease-out;
}
.color-safety {
  color: #F25B39 !important;
  transition: all 0.35s ease-out;
}
.color-ecology {
  color: #74dd4f !important;
  transition: all 0.35s ease-out;
}
.color-surveys {
  color: #929292 !important;
  transition: all 0.35s ease-out;
}
.color-academy {
  color: #1069FE !important;
  transition: all 0.35s ease-out;
}
.color-soft {
  color: #748AAB !important;
  transition: all 0.35s ease-out;
}
.color-foundation {
  color: #FFAD31 !important;
  transition: all 0.35s ease-out;
}
.color-journal {
  color: #2F8672 !important;
  transition: all 0.35s ease-out;
}
.color-certification {
  color: #2CCA97 !important;
  transition: all 0.35s ease-out;
}
.color-people {
  color: #A380FF !important;
  transition: all 0.35s ease-out;
}
.color-life {
  color: #1CB8E4 !important;
  transition: all 0.35s ease-out;
}

/* UNIVERSAL CLASSES - HOVER TEXT COLORS */
.hover-color-primary-light-green:hover {
  color: #74dd4f !important;
}
.hover-color-primary-dark-green:hover {
  color: #44af8c !important;
}
.hover-color-safety:hover {
  color: #F25B39 !important;
}
.hover-color-ecology:hover {
  color: #74dd4f !important;
}
.hover-color-surveys:hover {
  color: #929292 !important;
}
.hover-color-academy:hover {
  color: #1069FE !important;
}
.hover-color-soft:hover {
  color: #748AAB !important;
}
.hover-color-foundation:hover {
  color: #FFAD31 !important;
}
.hover-color-journal:hover {
  color: #2F8672 !important;
}
.hover-color-certification:hover {
  color: #2CCA97 !important;
}
.hover-color-people:hover {
  color: #A380FF !important;
}
.hover-color-life:hover {
  color: #1CB8E4 !important;
}

/* UNIVERSAL CLASSES - BACKGROUND COLORS */
.bg-color-primary-light-green {
  background-color: #74dd4f !important;
  transition: all 0.35s ease-out;
}
.bg-color-primary-dark-green {
  background-color: #44af8c !important;
  transition: all 0.35s ease-out;
}
.bg-color-safety {
  background-color: #F25B39 !important;
  transition: all 0.35s ease-out;
}
.bg-color-ecology {
  background-color: #74dd4f !important;
  transition: all 0.35s ease-out;
}
.bg-color-surveys {
  background-color: #929292 !important;
  transition: all 0.35s ease-out;
}
.bg-color-academy {
  background-color: #1069FE !important;
  transition: all 0.35s ease-out;
}
.bg-color-soft {
  background-color: #748AAB !important;
  transition: all 0.35s ease-out;
}
.bg-color-foundation {
  background-color: #FFAD31 !important;
  transition: all 0.35s ease-out;
}
.bg-color-journal {
  background-color: #2F8672 !important;
  transition: all 0.35s ease-out;
}
.bg-color-certification {
  background-color: #2CCA97 !important;
  transition: all 0.35s ease-out;
}
.bg-color-people {
  background-color: #A380FF !important;
  transition: all 0.35s ease-out;
}
.bg-color-life {
  background-color: #1CB8E4 !important;
  transition: all 0.35s ease-out;
}

/* UNIVERSAL CLASSES - HOVER BACKGROUND COLORS */
.hover-bg-color-primary-light-green:hover {
  background-color: #74dd4f !important;
}
.hover-bg-color-primary-dark-green:hover {
  background-color: #44af8c !important;
}
.hover-bg-color-safety:hover {
  background-color: #F25B39 !important;
}
.hover-bg-color-ecology:hover {
  background-color: #74dd4f !important;
}
.hover-bg-color-surveys:hover {
  background-color: #929292 !important;
}
.hover-bg-color-academy:hover {
  background-color: #1069FE !important;
}
.hover-bg-color-soft:hover {
  background-color: #748AAB !important;
}
.hover-bg-color-foundation:hover {
  background-color: #FFAD31 !important;
}
.hover-bg-color-journal:hover {
  background-color: #2F8672 !important;
}
.hover-bg-color-certification:hover {
  background-color: #2CCA97 !important;
}
.hover-bg-color-people:hover {
  background-color: #A380FF !important;
}
.hover-bg-color-life:hover {
  background-color: #1CB8E4 !important;
}

/* UNIVERSAL CLASSES - TEXT GRADIENTS */
.gradient-horizontal-primary {
  background: linear-gradient(to left, #42AD8E, #74DD4F) !important;
  background-clip: text;
  color: transparent;
  transition: all 0.35s ease-out;
}
.gradient-horizontal-primary.hoverable:hover {
  background: linear-gradient(to left, #74DD4F, #74DD4F) !important;
}
.gradient-vertical-primary {
  background: linear-gradient(to top, #74DD4F, #42AD8E) !important;
  background-clip: text;
  color: transparent;
  transition: all 0.35s ease-out;
}
.gradient-vertical-primary.hoverable:hover {
  background: linear-gradient(to top, #74DD4F, #74DD4F) !important;
}
.gradient-safety {
  background: linear-gradient(128deg, #ffa734, #f24868) !important;
  background-clip: text;
  color: transparent;
  transition: all 0.35s ease-out;
}
.gradient-safety.hoverable:hover {
  background: linear-gradient(128deg, #ffa734, #ffa734) !important;
}
.gradient-ecology {
  background: linear-gradient(133deg, #cbf26e, #74dd4f, #4bbb24) !important;
  background-clip: text;
  color: transparent;
  transition: all 0.35s ease-out;
}
.gradient-ecology.hoverable:hover {
  background: linear-gradient(133deg, #cbf26e, #cbf26e, #cbf26e) !important;
}
.gradient-surveys {
  background: linear-gradient(132deg, #929292, #4b4b4b) !important;
  background-clip: text;
  color: transparent;
  transition: all 0.35s ease-out;
}
.gradient-surveys.hoverable:hover {
  background: linear-gradient(132deg, #929292, #929292) !important;
}
.gradient-academy {
  background: linear-gradient(131deg, #8cb7ff, #1069fe) !important;
  background-clip: text;
  color: transparent;
  transition: all 0.35s ease-out;
}
.gradient-academy.hoverable:hover {
  background: linear-gradient(131deg, #8cb7ff, #8cb7ff) !important;
}
.gradient-soft {
  background: linear-gradient(131deg, #c4cde1, #748aab) !important;
  background-clip: text;
  color: transparent;
  transition: all 0.35s ease-out;
}
.gradient-soft.hoverable:hover {
  background: linear-gradient(131deg, #c4cde1, #c4cde1) !important;
}
.gradient-foundation {
  background: linear-gradient(to right, #ffad31, #ff6614) !important;
  background-clip: text;
  color: transparent;
  transition: all 0.35s ease-out;
}
.gradient-foundation.hoverable:hover {
  background: linear-gradient(to right, #ffad31, #ff6614) !important;
}
.gradient-journal {
  background: linear-gradient(147deg, #2fd8b1, #2f8672) !important;
  background-clip: text;
  color: transparent;
  transition: all 0.35s ease-out;
}
.gradient-journal.hoverable:hover {
  background: linear-gradient(128deg, #1cb8e4, #1cb8e4) !important;
}
.gradient-certification {
  background: linear-gradient(119deg, #3eb8a3, #175fab) !important;
  background-clip: text;
  color: transparent;
  transition: all 0.35s ease-out;
}
.gradient-certification.hoverable:hover {
  background: linear-gradient(119deg, #3eb8a3, #3eb8a3) !important;
}
.gradient-people {
  background: linear-gradient(131deg, #a380ff, #3934c7) !important;
  background-clip: text;
  color: transparent;
  transition: all 0.35s ease-out;
}
.gradient-people.hoverable:hover {
  background: linear-gradient(131deg, #a380ff, #a380ff) !important;
}
.gradient-life {
  background: linear-gradient(128deg, #1cb8e4, #1e6fd9) !important;
  background-clip: text;
  color: transparent;
  transition: all 0.35s ease-out;
}
.gradient-life.hoverable:hover {
  background: linear-gradient(128deg, #1cb8e4, #1cb8e4) !important;
}

/* UNIVERSAL CLASSES - BACKGROUND GRADIENTS */
.bg-gradient-horizontal-primary {
  background: linear-gradient(to left, #42AD8E, #74DD4F) !important;
  transition: all 0.35s ease-out;
}
.bg-gradient-horizontal-primary.hoverable:hover {
  background: linear-gradient(to left, #74DD4F, #74DD4F) !important;
}
.bg-gradient-vertical-primary {
  background: linear-gradient(to top, #74DD4F, #42AD8E) !important;
  transition: all 0.35s ease-out;
}
.bg-gradient-vertical-primary.hoverable:hover {
  background: linear-gradient(to top, #74DD4F, #74DD4F) !important;
}
.bg-gradient-safety {
  background: linear-gradient(128deg, #ffa734, #f24868) !important;
  transition: all 0.35s ease-out;
}
.bg-gradient-safety.hoverable:hover {
  background: linear-gradient(128deg, #ffa734, #ffa734) !important;
}
.bg-gradient-ecology {
  background: linear-gradient(133deg, #cbf26e, #74dd4f, #4bbb24) !important;
  transition: all 0.35s ease-out;
}
.bg-gradient-ecology.hoverable:hover {
  background: linear-gradient(133deg, #cbf26e, #cbf26e, #cbf26e) !important;
}
.bg-gradient-surveys {
  background: linear-gradient(132deg, #929292, #4b4b4b) !important;
  transition: all 0.35s ease-out;
}
.bg-gradient-surveys.hoverable:hover {
  background: linear-gradient(132deg, #929292, #929292) !important;
}
.bg-gradient-academy {
  background: linear-gradient(131deg, #8cb7ff, #1069fe) !important;
  transition: all 0.35s ease-out;
}
.bg-gradient-academy.hoverable:hover {
  background: linear-gradient(131deg, #8cb7ff, #8cb7ff) !important;
}
.bg-gradient-soft {
  background: linear-gradient(131deg, #c4cde1, #748aab) !important;
  transition: all 0.35s ease-out;
}
.bg-gradient-soft.hoverable:hover {
  background: linear-gradient(131deg, #c4cde1, #c4cde1) !important;
}
.bg-gradient-foundation {
  background: linear-gradient(to right, #ffad31, #ff6614) !important;
  transition: all 0.35s ease-out;
}
.bg-gradient-foundation.hoverable:hover {
  background: linear-gradient(to right, #ffad31, #ff6614) !important;
}
.bg-gradient-journal {
  background: linear-gradient(147deg, #2fd8b1, #2f8672) !important;
  transition: all 0.35s ease-out;
}
.bg-gradient-journal.hoverable:hover {
  background: linear-gradient(147deg, #2fd8b1, #2fd8b1) !important;
}
.bg-gradient-certification {
  background: linear-gradient(119deg, #3eb8a3, #175fab) !important;
  transition: all 0.35s ease-out;
}
.bg-gradient-certification.hoverable:hover {
  background: linear-gradient(119deg, #3eb8a3, #3eb8a3) !important;
}
.bg-gradient-people {
  background: linear-gradient(131deg, #a380ff, #3934c7) !important;
  transition: all 0.35s ease-out;
}
.bg-gradient-people.hoverable:hover {
  background: linear-gradient(131deg, #a380ff, #a380ff) !important;
}
.bg-gradient-life {
  background: linear-gradient(128deg, #1cb8e4, #1e6fd9) !important;
  transition: all 0.35s ease-out;
}
.bg-gradient-life.hoverable:hover {
  background: linear-gradient(128deg, #1cb8e4, #1cb8e4) !important;
}

.dropdown-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 8px;
  border-radius: 8px;
}
.dropdown-item span {
  color: #727882;
}
.dropdown-item:hover {
  cursor: pointer;
}
.dropdown-item:hover:not(:first-child) {
  background: #f2f2f2;
}
.dropdown-item:hover:not(:first-child) span {
  color: #3a434d !important;
}

/*# sourceMappingURL=dropdown-item.css.map */
