/* UNIVERSAL CLASSES - TEXT NEUTRAL COLORS */
.color-background-white {
  color: #f2f2f2;
}
.color-white {
  color: #f8f8f8;
}
.color-error {
  color: #FF4D25;
}
.color-light-grey {
  color: #b7bbc3;
}
.color-grey {
  color: #727882;
}
.color-dark-grey {
  color: #4b535c;
}
.color-black {
  color: #3a434d;
}

/* UNIVERSAL CLASSES - HOVER TEXT NEUTRAL COLORS */
.hover-color-background-white:hover {
  color: #f2f2f2;
}
.hover-color-white:hover {
  color: #f8f8f8;
}
.hover-color-error:hover {
  color: #FF4D25;
}
.hover-color-light-grey:hover {
  color: #b7bbc3;
}
.hover-color-grey:hover {
  color: #727882;
}
.hover-color-dark-grey:hover {
  color: #4b535c;
}
.hover-color-black:hover {
  color: #3a434d;
}

/* UNIVERSAL CLASSES - BACKGROUND NEUTRAL COLORS */
.bg-color-background-white {
  background-color: #f2f2f2;
}
.bg-color-white {
  background-color: #f8f8f8;
}
.bg-color-error {
  background-color: #FF4D25;
}
.bg-color-light-grey {
  background-color: #b7bbc3;
}
.bg-color-grey {
  background-color: #727882;
}
.bg-color-dark-grey {
  background-color: #4b535c;
}
.bg-color-black {
  background-color: #3a434d;
}

/* UNIVERSAL CLASSES - HOVER BACKGROUND NEUTRAL COLORS */
.hover-bg-color-background-white:hover {
  background-color: #f2f2f2;
}
.hover-bg-color-white:hover {
  background-color: #f8f8f8;
}
.hover-bg-color-error:hover {
  background-color: #FF4D25;
}
.hover-bg-color-light-grey:hover {
  background-color: #b7bbc3;
}
.hover-bg-color-grey:hover {
  background-color: #727882;
}
.hover-bg-color-dark-grey:hover {
  background-color: #4b535c;
}
.hover-bg-color-black:hover {
  background-color: #3a434d;
}

/* UNIVERSAL CLASSES - TEXT COLORS */
.color-primary-light-green {
  color: #74dd4f;
}
.color-primary-dark-green {
  color: #44af8c;
}
.color-safety {
  color: #F25B39;
}
.color-ecology {
  color: #74dd4f;
}
.color-surveys {
  color: #929292;
}
.color-academy {
  color: #1069FE;
}
.color-soft {
  color: #748AAB;
}
.color-foundation {
  color: #FFAD31;
}
.color-journal {
  color: #2F8672;
}
.color-certification {
  color: #2CCA97;
}
.color-people {
  color: #A380FF;
}
.color-life {
  color: #1CB8E4;
}

/* UNIVERSAL CLASSES - HOVER TEXT COLORS */
.hover-color-primary-light-green:hover {
  color: #74dd4f;
}
.hover-color-primary-dark-green:hover {
  color: #44af8c;
}
.hover-color-safety:hover {
  color: #F25B39;
}
.hover-color-ecology:hover {
  color: #74dd4f;
}
.hover-color-surveys:hover {
  color: #929292;
}
.hover-color-academy:hover {
  color: #1069FE;
}
.hover-color-soft:hover {
  color: #748AAB;
}
.hover-color-foundation:hover {
  color: #FFAD31;
}
.hover-color-journal:hover {
  color: #2F8672;
}
.hover-color-certification:hover {
  color: #2CCA97;
}
.hover-color-people:hover {
  color: #A380FF;
}
.hover-color-life:hover {
  color: #1CB8E4;
}

/* UNIVERSAL CLASSES - BACKGROUND COLORS */
.bg-color-primary-light-green {
  background-color: #74dd4f;
}
.bg-color-primary-dark-green {
  background-color: #44af8c;
}
.bg-color-safety {
  background-color: #F25B39;
}
.bg-color-ecology {
  background-color: #74dd4f;
}
.bg-color-surveys {
  background-color: #929292;
}
.bg-color-academy {
  background-color: #1069FE;
}
.bg-color-soft {
  background-color: #748AAB;
}
.bg-color-foundation {
  background-color: #FFAD31;
}
.bg-color-journal {
  background-color: #2F8672;
}
.bg-color-certification {
  background-color: #2CCA97;
}
.bg-color-people {
  background-color: #A380FF;
}
.bg-color-life {
  background-color: #1CB8E4;
}

/* UNIVERSAL CLASSES - HOVER BACKGROUND COLORS */
.hover-bg-color-primary-light-green:hover {
  background-color: #74dd4f;
}
.hover-bg-color-primary-dark-green:hover {
  background-color: #44af8c;
}
.hover-bg-color-safety:hover {
  background-color: #F25B39;
}
.hover-bg-color-ecology:hover {
  background-color: #74dd4f;
}
.hover-bg-color-surveys:hover {
  background-color: #929292;
}
.hover-bg-color-academy:hover {
  background-color: #1069FE;
}
.hover-bg-color-soft:hover {
  background-color: #748AAB;
}
.hover-bg-color-foundation:hover {
  background-color: #FFAD31;
}
.hover-bg-color-journal:hover {
  background-color: #2F8672;
}
.hover-bg-color-certification:hover {
  background-color: #2CCA97;
}
.hover-bg-color-people:hover {
  background-color: #A380FF;
}
.hover-bg-color-life:hover {
  background-color: #1CB8E4;
}

/* UNIVERSAL CLASSES - TEXT GRADIENTS */
.gradient-horizontal-primary {
  background: linear-gradient(to right, #42AD8E, #74DD4F);
  background-clip: text;
  color: transparent;
}
.gradient-horizontal-primary.hoverable:hover {
  background: linear-gradient(to right, #74DD4F, #74DD4F);
}
.gradient-vertical-primary {
  background: linear-gradient(to top, #74DD4F, #42AD8E);
  background-clip: text;
  color: transparent;
}
.gradient-vertical-primary.hoverable:hover {
  background: linear-gradient(to top, #74DD4F, #74DD4F);
}
.gradient-safety {
  background: linear-gradient(128deg, #ffa734, #f24868);
  background-clip: text;
  color: transparent;
}
.gradient-safety.hoverable:hover {
  background: linear-gradient(128deg, #ffa734, #ffa734);
}
.gradient-ecology {
  background: linear-gradient(133deg, #cbf26e, #74dd4f, #4bbb24);
  background-clip: text;
  color: transparent;
}
.gradient-ecology.hoverable:hover {
  background: linear-gradient(133deg, #cbf26e, #cbf26e, #cbf26e);
}
.gradient-surveys {
  background: linear-gradient(132deg, #929292, #4b4b4b);
  background-clip: text;
  color: transparent;
}
.gradient-surveys.hoverable:hover {
  background: linear-gradient(132deg, #929292, #929292);
}
.gradient-academy {
  background: linear-gradient(131deg, #8cb7ff, #1069fe);
  background-clip: text;
  color: transparent;
}
.gradient-academy.hoverable:hover {
  background: linear-gradient(131deg, #8cb7ff, #8cb7ff);
}
.gradient-soft {
  background: linear-gradient(131deg, #c4cde1, #748aab);
  background-clip: text;
  color: transparent;
}
.gradient-soft.hoverable:hover {
  background: linear-gradient(131deg, #c4cde1, #c4cde1);
}
.gradient-foundation {
  background: linear-gradient(to right, #ffad31, #ff6614);
  background-clip: text;
  color: transparent;
}
.gradient-foundation.hoverable:hover {
  background: linear-gradient(to right, #ffad31, #ff6614);
}
.gradient-journal {
  background: linear-gradient(147deg, #2fd8b1, #2f8672);
  background-clip: text;
  color: transparent;
}
.gradient-journal.hoverable:hover {
  background: linear-gradient(128deg, #1cb8e4, #1cb8e4);
}
.gradient-certification {
  background: linear-gradient(119deg, #3eb8a3, #175fab);
  background-clip: text;
  color: transparent;
}
.gradient-certification.hoverable:hover {
  background: linear-gradient(119deg, #3eb8a3, #3eb8a3);
}
.gradient-people {
  background: linear-gradient(131deg, #a380ff, #3934c7);
  background-clip: text;
  color: transparent;
}
.gradient-people.hoverable:hover {
  background: linear-gradient(131deg, #a380ff, #a380ff);
}
.gradient-life {
  background: linear-gradient(128deg, #1cb8e4, #1e6fd9);
  background-clip: text;
  color: transparent;
}
.gradient-life.hoverable:hover {
  background: linear-gradient(128deg, #1cb8e4, #1cb8e4);
}

/* UNIVERSAL CLASSES - BACKGROUND GRADIENTS */
.bg-gradient-horizontal-primary {
  background: linear-gradient(to right, #42AD8E, #74DD4F);
}
.bg-gradient-horizontal-primary.hoverable:hover {
  background: linear-gradient(to right, #74DD4F, #74DD4F);
}
.bg-gradient-vertical-primary {
  background: linear-gradient(to top, #74DD4F, #42AD8E);
}
.bg-gradient-vertical-primary.hoverable:hover {
  background: linear-gradient(to top, #74DD4F, #74DD4F);
}
.bg-gradient-safety {
  background: linear-gradient(128deg, #ffa734, #f24868);
}
.bg-gradient-safety.hoverable:hover {
  background: linear-gradient(128deg, #ffa734, #ffa734);
}
.bg-gradient-ecology {
  background: linear-gradient(133deg, #cbf26e, #74dd4f, #4bbb24);
}
.bg-gradient-ecology.hoverable:hover {
  background: linear-gradient(133deg, #cbf26e, #cbf26e, #cbf26e);
}
.bg-gradient-surveys {
  background: linear-gradient(132deg, #929292, #4b4b4b);
}
.bg-gradient-surveys.hoverable:hover {
  background: linear-gradient(132deg, #929292, #929292);
}
.bg-gradient-academy {
  background: linear-gradient(131deg, #8cb7ff, #1069fe);
}
.bg-gradient-academy.hoverable:hover {
  background: linear-gradient(131deg, #8cb7ff, #8cb7ff);
}
.bg-gradient-soft {
  background: linear-gradient(131deg, #c4cde1, #748aab);
}
.bg-gradient-soft.hoverable:hover {
  background: linear-gradient(131deg, #c4cde1, #c4cde1);
}
.bg-gradient-foundation {
  background: linear-gradient(to right, #ffad31, #ff6614);
}
.bg-gradient-foundation.hoverable:hover {
  background: linear-gradient(to right, #ffad31, #ff6614);
}
.bg-gradient-journal {
  background: linear-gradient(147deg, #2fd8b1, #2f8672);
}
.bg-gradient-journal.hoverable:hover {
  background: linear-gradient(147deg, #2fd8b1, #2fd8b1);
}
.bg-gradient-certification {
  background: linear-gradient(119deg, #3eb8a3, #175fab);
}
.bg-gradient-certification.hoverable:hover {
  background: linear-gradient(119deg, #3eb8a3, #3eb8a3);
}
.bg-gradient-people {
  background: linear-gradient(131deg, #a380ff, #3934c7);
}
.bg-gradient-people.hoverable:hover {
  background: linear-gradient(131deg, #a380ff, #a380ff);
}
.bg-gradient-life {
  background: linear-gradient(128deg, #1cb8e4, #1e6fd9);
}
.bg-gradient-life.hoverable:hover {
  background: linear-gradient(128deg, #1cb8e4, #1cb8e4);
}

.input {
  border-radius: 100px;
  padding: 12px 16px;
  color: #3a434d;
  background: #f8f8f8;
  border: 1px solid rgba(0, 0, 0, 0);
  outline: none;
  font-size: 14px;
}
.input::placeholder {
  color: #b7bbc3;
}
.input:focus-visible {
  border-color: #74dd4f !important;
}
.input.warning {
  border-color: #FFAD31 !important;
}
.input.error {
  border-color: #FF4D25 !important;
}

/*# sourceMappingURL=input.css.map */
