@import ../../colors.sass
@import ../../animations.sass
@import ../../uc/text.sass

.menu-header
  display: flex
  font-family: $font-main
  font-size: 14px
  line-height: 19.1px
  font-weight: 600

  &.horizontal
    flex-direction: row
    gap: 48px

  &.vertical
    flex-direction: column
    gap: 20px

  & > *
    color: $color_neutral_black
    cursor: pointer
    text-decoration: none
    @include hover-transition

  & > *:hover
    color: $color_primary_dark_green

  & > *.active
    color: $color_primary_dark_green

  &.mobile
    flex-direction: column
    gap: 10px
    width: 100%

    & > .menu-item //First level
      @include text-caption-bold

      & > *:first-child
        display: flex
        align-items: center
        text-decoration: none
        color: $color_neutral_black

      &:has(:not(:first-child)) > *:first-child::after
        content: ""
        display: block
        width: 12px
        height: 12px
        margin-left: auto
        background-image: url(../../../img/components/dropdown/dropdown-arrow-black.svg)
        background-size: 100%
        transition: transform 0.2s ease
        transform: rotate(180deg)

      & > *:not(:first-child)
          display: none

      &.active

        & > *:not(:first-child)
          display: flex

        & > *:first-child::after
          transform: rotate(0deg)

      & > .menu-item //Second level
        margin-top: 6px
        margin-left: 12px
        @include text-label

        & > *:first-child
          display: flex
          align-items: center
          text-decoration: none
          color: $color_neutral_black

        &:has(:not(:first-child)) > *:first-child::before
          content: ""
          display: block
          width: 12px
          height: 12px
          margin-right: 8px
          background-image: url(../../../img/components/dropdown/dropdown-arrow-black.svg)
          background-size: 100%
          transition: transform 0.2s ease
          transform: rotate(180deg)

        & > *:not(:first-child)
          display: none

        &.active
          flex-direction: column

          & > *:not(:first-child)
            display: flex

          & > *:first-child::before
            transform: rotate(0deg)

        & > .menu-item //Third level
          margin-top: 6px
          margin-left: 32px

          & > *
            text-decoration: none
            color: $color_neutral_grey
