@import ../../colors.sass

.search
  display: flex
  padding: 14px 25px
  background: $color_neutral_background_white
  border-radius: 100px
  align-items: center
  max-height: 40px
  margin-left: 4px
  transition: all .5s ease

  & input
    display: none
    border: none
    background: transparent
    padding: 0 4px
    height: 19px

    &:focus
      outline: none

  &::before
    content: ""
    display: block
    width: 12px
    height: 12px
    margin-left: auto
    background-image: url(../../../img/components/search/icon_search_grey.svg)
    background-size: 100%

  &::after
    content: ""
    display: none
    width: 12px
    height: 12px
    margin-left: auto
    background-image: url(../../../img/global/icon/icon_close_grey.svg)
    background-size: 100%

  &.active
    padding: 14px 13px

    & input
      display: block
      width: 13vw

    &::after
      display: block

