/* UNIVERSAL CLASSES - TEXT GRADIENTS */
.gradient-horizontal-primary {
  background: linear-gradient(to right, #42AD8E, #74DD4F);
  background-clip: text;
  color: transparent;
}

.gradient-vertical-primary {
  background: linear-gradient(to top, #74DD4F, #42AD8E);
  background-clip: text;
  color: transparent;
}

.gradient-safety {
  background: linear-gradient(128deg, #ffa734, #f24868);
  background-clip: text;
  color: transparent;
}

.gradient-ecology {
  background: linear-gradient(133deg, #cbf26e, #74dd4f, #4bbb24);
  background-clip: text;
  color: transparent;
}

.gradient-surveys {
  background: linear-gradient(132deg, #929292, #4b4b4b);
  background-clip: text;
  color: transparent;
}

.gradient-academy {
  background: linear-gradient(131deg, #8cb7ff, #1069fe);
  background-clip: text;
  color: transparent;
}

.gradient-soft {
  background: linear-gradient(131deg, #c4cde1, #748aab);
  background-clip: text;
  color: transparent;
}

.gradient-foundation {
  background: linear-gradient(to right, #ffad31, #ff6614);
  background-clip: text;
  color: transparent;
}

.gradient-journal {
  background: linear-gradient(147deg, #2fd8b1, #2f8672);
  background-clip: text;
  color: transparent;
}

.gradient-certification {
  background: linear-gradient(119deg, #3eb8a3, #175fab);
  background-clip: text;
  color: transparent;
}

.gradient-people {
  background: linear-gradient(131deg, #a380ff, #3934c7);
  background-clip: text;
  color: transparent;
}

.gradient-life {
  background: linear-gradient(128deg, #1cb8e4, #1e6fd9);
  background-clip: text;
  color: transparent;
}

.btn-def-white {
  background: #f8f8f8 !important;
}
.btn-def-white::before {
  background: #f8f8f8 !important;
}

.btn-def-black {
  background: #727882 !important;
}
.btn-def-black::before {
  background: #4b535c !important;
}

.btn-def-safety {
  background: linear-gradient(128deg, #ffa734, #ffa734) !important;
}
.btn-def-safety::before {
  background: linear-gradient(128deg, #ffa734, #f24868) !important;
}

.btn-def-ecology {
  background: linear-gradient(133deg, #cbf26e, #cbf26e, #cbf26e) !important;
}
.btn-def-ecology::before {
  background: linear-gradient(133deg, #cbf26e, #74dd4f, #4bbb24) !important;
}

.btn-def-surveys {
  background: linear-gradient(132deg, #929292, #929292) !important;
}
.btn-def-surveys::before {
  background: linear-gradient(132deg, #929292, #4b4b4b) !important;
}

.btn-def-academy {
  background: linear-gradient(131deg, #8cb7ff, #8cb7ff) !important;
}
.btn-def-academy::before {
  background: linear-gradient(131deg, #8cb7ff, #1069fe) !important;
}

.btn-def-soft {
  background: linear-gradient(131deg, #c4cde1, #c4cde1) !important;
}
.btn-def-soft::before {
  background: linear-gradient(131deg, #c4cde1, #748aab) !important;
}

.btn-def-foundation {
  background: linear-gradient(to right, #ffad31, #ff6614) !important;
}
.btn-def-foundation::before {
  background: linear-gradient(to right, #ffad31, #ff6614) !important;
}

.btn-def-journal {
  background: linear-gradient(147deg, #2fd8b1, #2fd8b1) !important;
}
.btn-def-journal::before {
  background: linear-gradient(147deg, #2fd8b1, #2f8672) !important;
}

.btn-def-certification {
  background: linear-gradient(119deg, #3eb8a3, #3eb8a3) !important;
}
.btn-def-certification::before {
  background: linear-gradient(119deg, #3eb8a3, #175fab) !important;
}

.btn-def-people {
  background: linear-gradient(131deg, #a380ff, #a380ff) !important;
}
.btn-def-people::before {
  background: linear-gradient(131deg, #a380ff, #3934c7) !important;
}

.btn-def-life {
  background: linear-gradient(128deg, #1cb8e4, #1cb8e4) !important;
}
.btn-def-life::before {
  background: linear-gradient(128deg, #1cb8e4, #1e6fd9) !important;
}

.btn-img-white {
  background: #f8f8f8 !important;
}
.btn-img-white::before {
  background: #f8f8f8 !important;
}

.btn-img-black {
  background: #4b535c !important;
}
.btn-img-black::before {
  background: #727882 !important;
}

.btn-img-safety {
  background: linear-gradient(128deg, #ffa734, #f24868) !important;
}
.btn-img-safety::before {
  background: linear-gradient(128deg, #ffa734, #ffa734) !important;
}

.btn-img-ecology {
  background: linear-gradient(133deg, #cbf26e, #74dd4f, #4bbb24) !important;
}
.btn-img-ecology::before {
  background: linear-gradient(133deg, #cbf26e, #cbf26e, #cbf26e) !important;
}

.btn-img-surveys {
  background: linear-gradient(132deg, #929292, #4b4b4b) !important;
}
.btn-img-surveys::before {
  background: linear-gradient(132deg, #929292, #929292) !important;
}

.btn-img-academy {
  background: linear-gradient(131deg, #8cb7ff, #1069fe) !important;
}
.btn-img-academy::before {
  background: linear-gradient(131deg, #8cb7ff, #8cb7ff) !important;
}

.btn-img-soft {
  background: linear-gradient(131deg, #c4cde1, #748aab) !important;
}
.btn-img-soft::before {
  background: linear-gradient(131deg, #c4cde1, #c4cde1) !important;
}

.btn-img-foundation {
  background: linear-gradient(to right, #ffad31, #ff6614) !important;
}
.btn-img-foundation::before {
  background: linear-gradient(to right, #ffad31, #ff6614) !important;
}

.btn-img-journal {
  background: linear-gradient(147deg, #2fd8b1, #2f8672) !important;
}
.btn-img-journal::before {
  background: linear-gradient(147deg, #2fd8b1, #2fd8b1) !important;
}

.btn-img-certification {
  background: linear-gradient(119deg, #3eb8a3, #175fab) !important;
}
.btn-img-certification::before {
  background: linear-gradient(119deg, #3eb8a3, #3eb8a3) !important;
}

.btn-img-people {
  background: linear-gradient(131deg, #a380ff, #3934c7) !important;
}
.btn-img-people::before {
  background: linear-gradient(131deg, #a380ff, #a380ff) !important;
}

.btn-img-life {
  background: linear-gradient(128deg, #1cb8e4, #1e6fd9) !important;
}
.btn-img-life::before {
  background: linear-gradient(128deg, #1cb8e4, #1cb8e4) !important;
}

.title-safety, .title-ecology, .title-surveys, .title-academy, .title-soft, .title-foundation, .title-journal, .title-certification, .title-people, .title-life {
  font-family: "Wix Madefor Display";
  margin-bottom: 52px;
  font-weight: bold;
  color: #3a434d;
}
.title-safety span, .title-ecology span, .title-surveys span, .title-academy span, .title-soft span, .title-foundation span, .title-journal span, .title-certification span, .title-people span, .title-life span {
  background-image: linear-gradient(128deg, #ffa734, #f24868);
  color: transparent;
  background-clip: text;
}
.title-card-safety {
  font-family: "Wix Madefor Display";
  font-weight: 600;
  margin-bottom: 20px;
  color: transparent;
  background-clip: text;
  line-height: 100%;
  background-image: linear-gradient(128deg, #ffa734, #f24868);
}
.title-card-ecology {
  font-family: "Wix Madefor Display";
  font-weight: 600;
  margin-bottom: 20px;
  color: transparent;
  background-clip: text;
  line-height: 100%;
  background-image: linear-gradient(133deg, #cbf26e, #74dd4f, #4bbb24);
}
.title-card-surveys {
  font-family: "Wix Madefor Display";
  font-weight: 600;
  margin-bottom: 20px;
  color: transparent;
  background-clip: text;
  line-height: 100%;
  background-image: linear-gradient(132deg, #929292, #4b4b4b);
}
.title-card-academy {
  font-family: "Wix Madefor Display";
  font-weight: 600;
  margin-bottom: 20px;
  color: transparent;
  background-clip: text;
  line-height: 100%;
  background-image: linear-gradient(131deg, #8cb7ff, #1069fe);
}
.title-card-soft {
  font-family: "Wix Madefor Display";
  font-weight: 600;
  margin-bottom: 20px;
  color: transparent;
  background-clip: text;
  line-height: 100%;
  background-image: linear-gradient(131deg, #c4cde1, #748aab);
}
.title-card-foundation {
  font-family: "Wix Madefor Display";
  font-weight: 600;
  margin-bottom: 20px;
  color: transparent;
  background-clip: text;
  line-height: 100%;
  background-image: linear-gradient(to right, #ffad31, #ff6614);
}
.title-card-journal {
  font-family: "Wix Madefor Display";
  font-weight: 600;
  margin-bottom: 20px;
  color: transparent;
  background-clip: text;
  line-height: 100%;
  background-image: linear-gradient(147deg, #2fd8b1, #2f8672);
}
.title-card-certification {
  font-family: "Wix Madefor Display";
  font-weight: 600;
  margin-bottom: 20px;
  color: transparent;
  background-clip: text;
  line-height: 100%;
  background-image: linear-gradient(119deg, #3eb8a3, #175fab);
}
.title-card-people {
  font-family: "Wix Madefor Display";
  font-weight: 600;
  margin-bottom: 20px;
  color: transparent;
  background-clip: text;
  line-height: 100%;
  background-image: linear-gradient(131deg, #a380ff, #3934c7);
}
.title-card-life {
  font-family: "Wix Madefor Display";
  font-weight: 600;
  margin-bottom: 20px;
  color: transparent;
  background-clip: text;
  line-height: 100%;
  background-image: linear-gradient(128deg, #1cb8e4, #1e6fd9);
}

.title-safety span {
  background-image: linear-gradient(128deg, #ffa734, #f24868);
  color: transparent;
  background-clip: text;
}
.title-ecology span {
  background-image: linear-gradient(133deg, #cbf26e, #74dd4f, #4bbb24);
  color: transparent;
  background-clip: text;
}
.title-surveys span {
  background-image: linear-gradient(132deg, #929292, #4b4b4b);
  color: transparent;
  background-clip: text;
}
.title-academy span {
  background-image: linear-gradient(131deg, #8cb7ff, #1069fe);
  color: transparent;
  background-clip: text;
}
.title-soft span {
  background-image: linear-gradient(131deg, #c4cde1, #748aab);
  color: transparent;
  background-clip: text;
}
.title-foundation span {
  background-image: linear-gradient(to right, #ffad31, #ff6614);
  color: transparent;
  background-clip: text;
}
.title-journal span {
  background-image: linear-gradient(147deg, #2fd8b1, #2f8672);
  color: transparent;
  background-clip: text;
}
.title-certification span {
  background-image: linear-gradient(119deg, #3eb8a3, #175fab);
  color: transparent;
  background-clip: text;
}
.title-people span {
  background-image: linear-gradient(131deg, #a380ff, #3934c7);
  color: transparent;
  background-clip: text;
}
.title-life span {
  background-image: linear-gradient(128deg, #1cb8e4, #1e6fd9);
  color: transparent;
  background-clip: text;
}

h2.title-safety, h2.title-ecology, h2.title-surveys, h2.title-academy, h2.title-soft, h2.title-foundation, h2.title-journal, h2.title-certification, h2.title-people, h2.title-life {
  font-size: 40px;
  line-height: 45px;
}

h4.title-safety, h4.title-ecology, h4.title-surveys, h4.title-academy, h4.title-soft, h4.title-foundation, h4.title-journal, h4.title-certification, h4.title-people, h4.title-life {
  margin-bottom: 20px;
  font-size: 22px;
  line-height: 28px;
}

.title-safety + .subtitle, .title-ecology + .subtitle, .title-surveys + .subtitle, .title-academy + .subtitle, .title-soft + .subtitle, .title-foundation + .subtitle, .title-journal + .subtitle, .title-certification + .subtitle, .title-people + .subtitle, .title-life + .subtitle {
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 52px;
}

.title-safety ~ p, .title-ecology ~ p, .title-surveys ~ p, .title-academy ~ p, .title-soft ~ p, .title-foundation ~ p, .title-journal ~ p, .title-certification ~ p, .title-people ~ p, .title-life ~ p {
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 20px;
}
.title-safety ~ p:last-of-type, .title-ecology ~ p:last-of-type, .title-surveys ~ p:last-of-type, .title-academy ~ p:last-of-type, .title-soft ~ p:last-of-type, .title-foundation ~ p:last-of-type, .title-journal ~ p:last-of-type, .title-certification ~ p:last-of-type, .title-people ~ p:last-of-type, .title-life ~ p:last-of-type {
  margin-bottom: 52px;
}

@media (max-width: 640px) {
  h2.title-safety, h2.title-ecology, h2.title-surveys, h2.title-academy, h2.title-soft, h2.title-foundation, h2.title-journal, h2.title-certification, h2.title-people, h2.title-life {
    font-size: 28px;
    line-height: 32px;
    margin-bottom: 32px;
  }
  h2.title-safety ~ p, h2.title-ecology ~ p, h2.title-surveys ~ p, h2.title-academy ~ p, h2.title-soft ~ p, h2.title-foundation ~ p, h2.title-journal ~ p, h2.title-certification ~ p, h2.title-people ~ p, h2.title-life ~ p {
    padding-top: 20px;
  }
  h2.title-safety ~ p:last-of-type, h2.title-ecology ~ p:last-of-type, h2.title-surveys ~ p:last-of-type, h2.title-academy ~ p:last-of-type, h2.title-soft ~ p:last-of-type, h2.title-foundation ~ p:last-of-type, h2.title-journal ~ p:last-of-type, h2.title-certification ~ p:last-of-type, h2.title-people ~ p:last-of-type, h2.title-life ~ p:last-of-type {
    margin-bottom: 32px;
  }
}

/*# sourceMappingURL=title.css.map */
