.card-pay-system
  height: 127.3px

@media (min-width: 640px)
  .card-pay-system
    height: 180px
    width: calc(50% - 8px) !important

  .logo-mastercard
    width: 97.5px

  .logo-mir
    width: 153.06px

  .logo-visa
    width: 115.38px

@media (min-width: 960px)
  .card-pay-system
    height: 180px
    width: calc(33.03% - 8px) !important

  .logo-mastercard
    width: 130px

  .logo-mir
    width: 204.08px

  .logo-visa
    width: 154px