.calendar-mobile
  display: flex
  flex-direction: column
  padding: 8px
  border-radius: 20px

  &:has(.calendar-dropdown-mobile.active)

    &.events
      display: none

.calendar-dropdown-mobile
  display: flex
  flex-direction: column
  padding: 8px

  &.active
    & .arrow
      transform: rotate(180deg)

    & > *
      display: flex

.arrow
  transform: rotate(0deg)

.dates
  display: none




