.form-tape-1
  position: absolute
  scale: 0.75
  top: 330px

.form-tape-2
  position: absolute
  scale: 0.9
  top: -40px
  left: -56px

.form-tape-3
  position: absolute
  scale: 0.9
  top: 460px
  left: -56px

@media (min-width: 640px)
  .form-tape-1
    scale: 0.81
    top: -10px

  .form-tape-2
    position: absolute
    scale: 1
    top: 20px
    left: -26px

  .form-tape-3
    position: absolute
    scale: 1
    top: 450px
    left: -26px

@media (min-width: 960px)
  .form-tape-1
    scale: 0.77
    top: -40px

  .form-tape-2
    position: absolute
    scale: 0.95
    top: 20px
    left: 155px

  .form-tape-3
    position: absolute
    scale: 0.95
    top: 450px
    left: 155px

@media (min-width: 1280px)
  .form-tape-1
    scale: 0.88
    top: -40px

  .form-tape-2
    position: absolute
    scale: 0.95
    top: 20px
    left: 420px

  .form-tape-3
    position: absolute
    scale: 0.95
    top: 175px
    left: 420px

@media (min-width: 1920px)
  .form-tape-1
    scale: 1
    top: 0px

  .form-tape-2
    position: absolute
    scale: 0.95
    top: 20px
    left: 785px

  .form-tape-3
    position: absolute
    scale: 0.95
    top: 165px
    left: 765px