@import ../assets/colors.sass
@import ../assets/borders.sass

body:has(.header.active)
  .header-bg-blur
    opacity: 1

.header-bg-blur
  position: fixed
  pointer-events: none
  width: 100vw
  height: 100vh
  background-color: rgba(0, 0, 0, 0.3)
  backdrop-filter: blur(10px)
  z-index: 39
  opacity: 0
  transition: opacity .5s ease

.header-sities
  cursor: pointer

.header
  background-color: $color-neutral-white
  box-sizing: border-box
  border-radius: 28px
  width: calc(100% - 16px)
  max-height: calc(100vh - 16px)
  margin: 8px 8px 0
  padding: 8px
  display: flex
  flex-direction: column
  position: fixed
  z-index: 100
  gap: 32px
  transition: all 1s ease
  box-shadow: 0 5px 30px 1px rgba(0,0,0,.07)

  .header-menu
    display: none
    overflow: scroll

  &.active

    .header-menu
      display: flex

.header-menu-slot
  width: 341px

.header-menu-visir-area
  width: 76px

.header-menu-info
  display: flex
  flex-direction: column
  gap: 20px
  width: 320px
  margin-left: auto

  & p
    margin: 0

@media (min-width: 640px)
  .header
    width: calc(100% - 16px)
    margin: 8px 8px 0
    padding: 16px

@media (min-width: 1280px)
  body:has(.header.active)

    .header-bg-blur
      opacity: 1

  .header
    width: calc(100% - 16px)
    border-radius: $border-radius-36
    margin: 8px 8px 0
    padding: 16px 16px 16px 24px
    height: 75px

    &.active
      height: 492px
      overscroll-behavior: contain
      .header-menu
        display: flex

    &.prevent-active
      height: 75px !important
      .header-menu
        display: none !important

@media (min-width: 1920px)
  .header
    width: calc(100% - 80px)
    margin: 40px 40px