@import ../assets/colors.sass
@import ../assets/borders.sass

body:has(.header.active)

  .header-bg-blur
    opacity: 1

.header-bg-blur
  position: fixed
  pointer-events: none
  width: 100vw
  height: 100vh
  background-color: rgba(0, 0, 0, 0.3)
  backdrop-filter: blur(10px)
  z-index: 39
  opacity: 0
  transition: opacity .5s ease

.header
  background-color: $color-neutral-white
  box-sizing: border-box
  border-radius: $border-radius-36
  width: calc(100% - 16px)
  margin: 8px 8px 0
  padding: 16px
  display: flex
  flex-direction: column
  position: fixed
  overflow: hidden
  z-index: 40
  gap: 32px
  transition: all 1s ease
  box-shadow: 0 5px 30px 1px rgba(0,0,0,.07)

  .header-menu
    display: none

  &.active

    .header-menu
      display: flex

.header-menu-slot
  width: 341px

.header-menu-visir-area
  width: 76px

.header-menu-info
  display: flex
  flex-direction: column
  gap: 20px
  width: 314px
  margin-left: auto

  & p
    margin: 0

@media (min-width: 640px)
  .header
    width: calc(100% - 16px)
    margin: 8px 8px 0
    padding: 16px

@media (min-width: 1280px)
  body:has(.header:hover)

    .header-bg-blur
      opacity: 1

  .header
    width: calc(100% - 16px)
    margin: 8px 8px 0
    padding: 16px 16px 16px 24px
    height: 75px

    &:hover
      height: 492px

      .header-menu
        display: flex

@media (min-width: 1920px)
  .header
    width: calc(100% - 80px)
    margin: 40px 40px 0

  .header-menu-info
    width: 420px