.hero-main-info-icon
  width: 16px
  height: 16px

.hero-main-visir
  display: block
  position: absolute
  width: 2556px
  height: 1934px
  bottom: 0
  left: -1388px
  transform: translate(0, 43.5%)
  pointer-events: none

.hero-main-info
  bottom: 0
  right: 0
  height: 50vh
  width: calc(50vw + 110px)

.hero-main-title
  top: 0
  right: 0
  height: 50vh
  width: calc(50vw + 130px)
  z-index: 1

.hero-main-input
  bottom: 0
  right: 0
  height: 50vh
  width: calc(50vw + 130px)

.hero-no-form-info
  bottom: 0
  right: 0
  height: calc(50vh + 5px)
  width: calc(50vw + 35px)

.hero-no-form-title
  top: 0
  right: 0
  height: calc(50vh - 51px)
  width: calc(50vw + 145px)
  z-index: 1

.hero-no-form-input
  bottom: 0
  right: 0
  height: calc(50vh + 51px)
  width: calc(50vw + 145px)

@media (min-width: 640px)
  .hero-main-info-icon
    width: 24px
    height: 24px

  .hero-main-title
    height: calc(50vh + 150px)
    width: calc(50vw + 175px)

  .hero-main-input
    height: calc(50vh - 150px)
    width: calc(50vw + 175px)

  .hero-no-form-title
    top: 0
    right: 0
    height: calc(50vh + 156px)
    width: calc(50vw + 145px)
    z-index: 1

  .hero-no-form-input
    bottom: 0
    right: 0
    height: calc(50vh - 156px)
    width: calc(50vw + 145px)

@media (min-width: 960px)
  .hero-main-title
    height: calc(50vh + 0px)
    width: calc(50vw + 20px)

  .hero-main-input
    left: 0
    height: calc(50vh + 0px)
    width: calc(50vw - 20px)

  .hero-main-info
    height: calc(50vh + 0px)
    width: calc(50vw + 20px)

  .hero-no-form-title
    top: 0
    right: 0
    height: calc(50vh - 5px)
    width: calc(50vw + 35px)
    z-index: 1

  .hero-no-form-input
    left: 0
    height: calc(50vh + 5px)
    width: calc(50vw - 35px)

@media (min-width: 1280px)
  .hero-main-title
    height: calc(50vh + 100px)
    width: calc(50vw + 50px)

  .hero-main-input
    height: calc(50vh - 100px)
    width: calc(50vw - 50px)

  .hero-main-info
    height: calc(50vh - 100px)
    width: calc(50vw + 50px)

  .hero-no-form-title
    top: 0
    right: 0
    height: calc(50vh + 77px)
    width: calc(50vw + 59px)
    z-index: 1

  .hero-no-form-input
    left: 0
    height: calc(50vh - 77px)
    width: calc(50vw - 59px)

  .hero-no-form-info
    bottom: 0
    right: 0
    height: calc(50vh - 77px)
    width: calc(50vw + 59px)

@media (min-width: 1920px)
  .hero-main-title
    height: calc(50vh + 100px)
    width: calc(50vw + 140px)

  .hero-main-input
    height: calc(50vh - 100px)
    width: calc(50vw - 140px)

  .hero-main-info
    height: calc(50vh - 100px)
    width: calc(50vw + 140px)

  .hero-no-form-title
    top: 0
    right: 0
    height: calc(50vh + 129px)
    width: calc(50vw + 153px)
    z-index: 1

  .hero-no-form-input
    left: 0
    height: calc(50vh - 129px)
    width: calc(50vw - 153px)

  .hero-no-form-info
    bottom: 0
    right: 0
    height: calc(50vh - 129px)
    width: calc(50vw + 153px)


