.lab-card 
  background: linear-gradient(to bottom, var(--color-primary-dark-green), var(--color-primary-light-green))
  display: flex
  flex-direction: column
  justify-content: space-between
  box-sizing: border-box
  padding: 32px
  border-radius: 36px
  height: 320px
  flex: 1
  min-width: 200px
  transition: 0.5s ease-out

  &:nth-child(1):hover
    width: 40%
    background: url("images/others/research-water.png")
    background-size: cover
    background-position: center
    background-repeat: no-repeat

  &:nth-child(2):hover
    width: 40%
    background: url("images/others/research-soil.png")
    background-size: cover
    background-position: center
    background-repeat: no-repeat

  &:nth-child(3):hover
    width: 40%
    background: url("images/others/research-air.png")
    background-size: cover
    background-position: center
    background-repeat: no-repeat

  &:nth-child(4):hover
    width: 40%
    background: url("images/others/research-bio.png")
    background-size: cover
    background-position: center
    background-repeat: no-repeat

  &:hover
    min-width: 380px

    &.lab-card-link
      display: block !important

    &.lab-card-desc
      display: block !important
      min-width: 500px
