@import ../assets/colors.sass

.human-organism
  height: 490px

.human-accordeon-title.active
  color: $color_direct_life !important

.human-element
  &-1
    position: absolute
    height: 36px
    width: 36px
    border-radius: 95.85px
    font-size: 16.7px
    color: $color_neutral_white
    background-color: $color_neutral_light_grey
    display: flex
    align-items: center
    justify-content: center
    top: 3px
    left: -136px
    &.active
      background: $gradient_life
  &-2
    position: absolute
    height: 36px
    width: 36px
    border-radius: 95.85px
    font-size: 16.7px
    color: $color_neutral_white
    background-color: $color_neutral_light_grey
    display: flex
    align-items: center
    justify-content: center
    top: 72px
    left: 59px
    &.active
      background: $gradient_life
  &-3
    position: absolute
    height: 36px
    width: 36px
    border-radius: 95.85px
    font-size: 16.7px
    color: $color_neutral_white
    background-color: $color_neutral_light_grey
    display: flex
    align-items: center
    justify-content: center
    top: 98px
    left: -155px
    &.active
      background: $gradient_life
  &-4
    position: absolute
    height: 36px
    width: 36px
    border-radius: 95.85px
    font-size: 16.7px
    color: $color_neutral_white
    background-color: $color_neutral_light_grey
    display: flex
    align-items: center
    justify-content: center
    top: 114px
    left: 79px
    &.active
      background: $gradient_life
  &-5
    position: absolute
    height: 36px
    width: 36px
    border-radius: 95.85px
    font-size: 16.7px
    color: $color_neutral_white
    background-color: $color_neutral_light_grey
    display: flex
    align-items: center
    justify-content: center
    top: 142px
    left: -160px
    &.active
      background: $gradient_life
  &-6
    position: absolute
    height: 36px
    width: 36px
    border-radius: 95.85px
    font-size: 16.7px
    color: $color_neutral_white
    background: $color_neutral_light_grey
    display: flex
    align-items: center
    justify-content: center
    top: 240px
    left: 117px
    &.active
      background: $gradient_life

@media (min-width: 640px)
  .human-organism
    height: 695px

  .human-element
    &-1
      height: 52px
      width: 52px
      font-size: 24px
      top: 6px
      left: -193px
    &-2
      height: 52px
      width: 52px
      font-size: 24px
      top: 102px
      left: 87px
    &-3
      height: 52px
      width: 52px
      font-size: 24px
      top: 140px
      left: -223px
    &-4
      height: 52px
      width: 52px
      font-size: 24px
      top: 162px
      left: 113px
    &-5
      height: 52px
      width: 52px
      font-size: 24px
      top: 203px
      left: -212px
    &-6
      height: 52px
      width: 52px
      font-size: 24px
      top: 341px
      left: 179px

@media (min-width: 960px)
  .human-organism
    height: 619px

  .human-element
    &-1
      height: 46px
      width: 46px
      font-size: 21px
      top: 6px
      left: -177px
    &-2
      height: 46px
      width: 46px
      font-size: 21px
      top: 92px
      left: 81px
    &-3
      height: 46px
      width: 46px
      font-size: 21px
      top: 124px
      left: -208px
    &-4
      height: 46px
      width: 46px
      font-size: 21px
      top: 145px
      left: 104px
    &-5
      height: 46px
      width: 46px
      font-size: 21px
      top: 181px
      left: -198px
    &-6
      height: 46px
      width: 46px
      font-size: 21px
      top: 305px
      left: 162px

@media (min-width: 1280px)
  .human-organism
    height: 695px

  .human-element
    &-1
      top: 9px
      left: -195px
    &-2
      top: 105px
      left: 92px
    &-3
      top: 142px
      left: -211px
    &-4
      top: 165px
      left: 113px
    &-5
      top: 205px
      left: -216px
    &-6
      top: 343px
      left: 167px
