@import ../assets/colors.sass

.quotes-1
  position: absolute
  align-self: end
  margin-top: -35px
  width: 144px

.quotes-2
  position: absolute
  width: 116px
  top: 0%
  left: 60%
  z-index: 2

@media (min-width: 640px)
  .quotes-1
    margin-top: -32px

  .quotes-2
    width: 149px
    top: -7%
    left: 75.7%

@media (min-width: 960px)
  .quotes-1
    bottom: 79%

  .quotes-2
    width: 218px
    height: 182px
    top: -18%
    left: 71%

@media (min-width: 1280px)
  .quote-portrait
    border: 13px $color_neutral_white solid

  .quotes-1
    bottom: 74%

  .quotes-2
    width: 200px
    height: 164px
    top: 79%
    left: 80%
    z-index: 0

@media (min-width: 1920px)
  .quotes-1
    width: 166px
    bottom: 62%

  .quotes-2
    top: 78.4%