@import ../assets/colors.sass

.card-software-main
  display: flex
  flex-direction: column
  justify-content: center
  overflow: hidden
  text-align: center
  border: 4px $color_neutral_white solid

.img-software-main-1
  width: 250px
  height: 140.5px
  margin-top: 48.2px
  margin-bottom: 30.27px

.img-software-main-2
  width: 250px
  height: 140.5px
  margin-top: 38.2px
  margin-bottom: 20.27px

@media (min-width: 640px)
  .img-software-main-1
    width: 346px
    height: 195px
    margin-top: 46px
    margin-bottom: 11px

  .img-software-main-2
    width: 425px
    height: 239px
    margin-top: 24px
    margin-bottom: 0

@media (min-width: 960px)
  .card-software-main
    border: none

  .img-software-main-1
    width: 217.33px
    height: 121.49px
    margin-top: 64.25px
    margin-bottom: 64.25px

  .img-software-main-2
    width: 198px
    height: 110px
    margin-top: 85px
    margin-bottom: 85px

@media (min-width: 1280px)
  .img-software-main-1
    width: 161px
    height: 90px
    margin-top: 80px
    margin-bottom: 80px

  .img-software-main-2
    width: 322px
    height: 180px
    margin-top: 35px
    margin-bottom: 35px

@media (min-width: 1920px)
  .img-software-main-1
    width: 322px
    height: 180px
    margin-top: 65px
    margin-bottom: 65px

