@import ../assets/animations.sass

.accordeon
  cursor: pointer

  .arrow
    transform: rotate(0deg)
    @include hover-transition
    user-select: none

  .accordeon-content
    display: flex
    max-height: 0
    overflow: hidden
    transition: all 0.75s ease

  &.active
    .arrow
      transform: rotate(180deg)

    .accordeon-content
      max-height: var(--max-height)