@import ../assets/colors.sass

$icon-size: 29px

@mixin btn_base

  display: inline-block

  padding: 0
  text-decoration: none

  border-radius: 50px
  max-height: 43px

  color: #fff
  font-size: 14px
  font-weight: 500
  line-height: 100%

  overflow: hidden

  border: none
  outline: none
  cursor: pointer

  position: relative

  background: transparent

  transition: all .35s ease-out

  & span
    display: block
    padding: 14.5px 24px
    padding-right: calc(16px + $icon-size + 7px)
    height: 100%
    color: #fff
    font-size: 14px
    font-weight: 500
    line-height: 100%
    border-radius: 50px

    background: transparent
    -webkit-transition: all .55s ease-in-out
    -moz-transition: all .55s ease-in-out
    -ms-transition: all .55s ease-in-out
    -o-transition: all .55s ease-in-out
    transition: all .55s ease-in-out



.btn
  &-white,
  &-black,
  &-outline,
  &-primary,
  &-vertical-primary,
  &-horizontal-primary,

  &-primary,
  &-safety,
  &-ecology,
  &-surveys,
  &-academy,
  &-soft,
  &-foundation,
  &-journal,
  &-certification,
  &-people,
  &-life
    @include btn_base

    & span
      padding-right: 24px
      transition: all .35s ease-out


  &-white
    & span
      color: $color-neutral-black


.btn-img
  &-white,
  &-black,
  &-outline,
  &-primary,
  &-vertical-primary,
  &-horizontal-primary,

  &-primary,
  &-safety,
  &-ecology,
  &-surveys,
  &-academy,
  &-soft,
  &-foundation,
  &-journal,
  &-certification,
  &-people,
  &-life
    @include btn_base


    &:after
      content: ''
      width: $icon-size
      height: $icon-size
      background-image: url(../../img/assets/icons/medium/btn_visir_white.svg)
      position: absolute
      right: 7px
      top: 0
      bottom: 0
      margin: auto

    &.btn-arrow
      &:after
        background-image: url(../../img/assets/icons/medium/btn_arrow_up_white.svg)

    &:not(.btn-arrow)
      &:after
        transform: rotate(0deg)
        transition: all .35s ease-out

    &[disabled],
    &.disabled
      cursor: initial

      &:after
        background-image: url(../../img/assets/icons/medium/btn_arrow_up_grey.svg)
      & span
        background: $color_neutral_light_grey !important
        color: rgba($color_neutral_white, 20%)

    &:not(.btn-arrow)
      &:hover
        &:after
          transform: rotate(180deg)



  &-black
    & span
      color: $color_neutral_light_grey

    &:hover

      & span
        background: $color_neutral_dark_grey !important
        color: $color_neutral_white

    &[disabled],
    &.disabled
      cursor: initial

      &:after
        background-image: url(../../img/assets/icons/medium/btn_arrow_up_grey.svg)
      & span
        background: $color_neutral_dark_grey !important
        color: $color_neutral_grey
        border: 1px solid $color_neutral_grey !important

      &:hover

        & span
          background: $color_neutral_dark_grey !important
          color: $color_neutral_grey
          border: 1px solid $color_neutral_grey !important


    &.btn-arrow
      &:after
        background-image: url(../../img/assets/icons/medium/btn_arrow_up_white.svg)

      [disabled],
      &.disabled
        cursor: initial

        &:after
          background-image: url(../../img/assets/icons/medium/btn_arrow_up_grey.svg)

      &:hover
        background: #727882


  &-white
    &:after
      background-image: url(../../img/assets/icons/medium/btn_visir_primary.svg)

    & span
      color: $color-neutral-black






// START BG & HOVERS
.btn,
.btn-img

  // BASE
  &-white
    & span
      background: $color-neutral-white

    &:hover
      & span
        background: $color-neutral-white

  &-black
    background: $color-neutral-dark-grey
    & span
      background: transparent

    &:hover
      & span
        &:hover
          background: $color-neutral-grey


  &-outline
    overflow: visible
    & span
      background: transparent
      color: $color_neutral_white
      outline: 1px solid $color_neutral_white
      outline-offset: -1px

    &:hover
      & span
        background: transparent
        color: $color_neutral_grey
        outline: 1px solid $color_neutral_white
        outline-offset: -1px


  // GRADIENTAL
  &-primary,
  &-horizontal-primary
    background: $gradient_horizontal_primary
    & span
      background: transparent

    &:hover
      & span
        background: $hover_horizontal_primary_btn
        &:hover
          background: $hover_horizontal_primary_btn

  &-vertical-primary
    background: $gradient_vertical_primary
    & span
      background: transparent

    &:hover
      & span
        &:hover
          background: $hover_vertical_primary



  &-safety
    background: $gradient_safety
    & span
      background: transparent

    &:hover
      & span
        &:hover
          background: $hover_safety_btn

    &:not(.btn-arrow)
      &:hover
        & span
          background: $hover_safety_btn



  &-ecology
    background: $gradient_ecology
    & span
      background: transparent

    &:hover
      & span
        &:hover
          background: $hover_ecology_btn

    &:not(.btn-arrow)
      &:hover
        & span
          background: $hover_ecology_btn



  &-surveys
    background: $gradient_surveys
    & span
      background: transparent

    &:hover
      & span
        &:hover
          background: $hover_surveys_btn

    &:not(.btn-arrow)
      &:hover
        & span
          background: $hover_surveys_btn



  &-academy
    background: $gradient_academy
    & span
      background: transparent

    &:hover
      & span
        &:hover
          background: $hover_academy_btn

    &:not(.btn-arrow)
      &:hover
        & span
          background: $hover_academy_btn



  &-soft
    background: $gradient_soft
    & span
      background: transparent

    &:hover
      & span
        &:hover
          background: $hover_soft_btn

    &:not(.btn-arrow)
      &:hover
        & span
          background: $hover_soft_btn



  &-foundation
    background: $gradient_foundation
    & span
      background: transparent

    &:hover
      & span
        &:hover
          background: $hover_foundation_btn

    &:not(.btn-arrow)
      &:hover
        & span
          background: $hover_foundation_btn



  &-journal
    background: $gradient_journal
    & span
      background: transparent

    &:hover
      & span
        &:hover
          background: $hover_journal_btn

    &:not(.btn-arrow)
      &:hover
        & span
          background: $hover_journal_btn



  &-certification
    background: $gradient_certification
    & span
      background: transparent

    &:hover
      & span
        &:hover
          background: $hover_certification_btn

    &:not(.btn-arrow)
      &:hover
        & span
          background: $hover_certification_btn



  &-people
    background: $gradient_people
    & span
      background: transparent

    &:hover
      & span
        &:hover
          background: $hover_people_btn

    &:not(.btn-arrow)
      &:hover
        & span
          background: $hover_people_btn



  &-life
    background: $gradient_life
    & span
      background: transparent

    &:hover
      & span
        &:hover
          background: $hover_life_btn

    &:not(.btn-arrow)
      &:hover
        & span
          background: $hover_life_btn



.btn-img-secondary


  // BASE
  &-white,
  &-black,
  &-outline,

  // GRADIENTAL
  &-primary,
  &-horizontal-primary,

  &-vertical-primary,

  &-safety,
  &-ecology,
  &-surveys,
  &-academy,
  &-soft,
  &-foundation,
  &-journal,
  &-certification,
  &-people,
  &-life
    @include btn_base

    & span
      background: $color_neutral_white
      color: $color_neutral_black

    &:after
      content: ''
      width: $icon-size
      height: $icon-size

      //background-image: url(../../img/assets/icons/medium/btn_visir_base_transparent.svg)
      background: black
      -webkit-mask-image: url(../../img/assets/icons/medium/btn_visir_base_transparent.svg)
      -webkit-mask-size: cover

      position: absolute
      right: 7px
      top: 0
      bottom: 0
      margin: auto

      //transition: all .35s ease-out


    &:not(.btn-arrow)
      &:hover
        &:after
          //transform: rotate(180deg)

  // BASE


  // GRADIENTAL
  &-primary,
  &-horizontal-primary
    &:after
      background: $gradient_horizontal_primary

  &-vertical-primary
    &:after
      background: $gradient_vertical_primary




  &-safety
    &:after
      background: $gradient_safety



  &-ecology
    &:after
      background: $gradient_ecology


  &-surveys
    &:after
      background: $gradient_surveys


  &-academy
    &:after
      background: $gradient_academy


  &-soft
    &:after
      background: $gradient_soft


  &-foundation
    &:after
      background: $gradient_foundation


  &-journal
    &:after
      background: $gradient_journal


  &-certification
    &:after
      background: $gradient_certification


  &-people
    &:after
      background: $gradient_people


  &-life
    &:after
      background: $gradient_life

