.cards-responsibility
  display: flex
  flex-wrap: wrap
  position: relative

@media(min-width: 960px)
  .cards-responsibility

    & .card-img-bg
      position: absolute
      top: 0
      right: 0

    & .card-neutral-white > .card-neutral-white:last-child
      margin-bottom: 0

@media(min-width: 640px) and (max-width: 959px)
  .cards-responsibility

    & .card-img-bg
      & .img
        max-height: 300px

@media(min-width: 360px) and (max-width: 639px)
  .cards-responsibility

    & .card-img-bg
      & .img
        max-height: 300px
