@import ../assets/colors.sass

.cards-map

  & p
    margin-bottom: 20px !important

  & .title-card-safety
    margin-bottom: 20px !important


@media(min-width: 640px)
  .cards-map

    & p
      margin-bottom: 16px !important

    & .title-card-safety
      margin-bottom: 16px !important

@media(min-width: 360px) and (max-width: 639px)
  .cards-map

    & h2 + h4
      font-size: 16px !important
      line-height: 18px !important

    & p
      color: $color_neutral_black
