.cards-rent
  & .btn-news
    //bottom: 40px !important

  .owl-carousel
    margin-bottom: 12px !important
    .owl-stage
      padding-bottom: 20px
    .owl-nav
      padding-top: 12px !important

  &-part-2
   & .img-slider-x3.mb-design
    margin-bottom: 0 !important


@media(min-width: 1280px) and (max-width: 1919.5px)
  .cards-rent
    &-part-2
      & .img-slider-x3.mb-design
        margin-bottom: 32px !important

@media(min-width: 960px) and (max-width: 1279.5px)
  .cards-rent
    &-part-2
      & .img-slider-x3.mb-design
        margin-bottom: 32px !important

      .owl-nav
        //padding-bottom: 0 !important

      & .img-slider-x3.mb-design
        margin-bottom: -63px !important



@media(min-width: 640px) and (max-width: 959.5px)
  .cards-rent
    &-part-2
      .owl-nav
        //padding-bottom: 0 !important
      & .img-slider-x3.mb-design
        margin-bottom: -63px !important








@media(min-width: 360px) and (max-width: 639.5px)
  .cards-rent
    & .btn-news
      width: 100%
      text-align: center
      & span
        font-size: 12px !important

    .owl-carousel
      margin-bottom: 12px !important
      .owl-stage
        padding-bottom: 20px
      .owl-nav
        padding-top: 12px !important

  .slide-item .img img
    object-position: left


@media(min-width: 640px) and (max-width: 959.5px)
  .cards-rent
    & .btn-news
      bottom: calc(49px - 32px) !important

    .owl-carousel
      margin-bottom: 12px !important
      .owl-stage
        padding-bottom: 20px
      .owl-nav
        padding-top: 12px !important

@media(min-width: 960px) and (max-width: 1279.5px)
  .cards-rent
    & .btn-news
      bottom: calc(49px - 32px) !important

    .owl-carousel
      margin-bottom: 12px !important
      .owl-stage
        padding-bottom: 20px
      .owl-nav
        padding-top: 12px !important

@media(min-width: 1280px) and (max-width: 1919.5px)
  .cards-rent
    & .btn-news
      position: static !important

@media(min-width: 1920px)
  .cards-rent
    & .btn-news
      position: static !important
