.cards-hovering-img
  display: flex
  flex-direction: column
  overflow: hidden

  .card-icon-bg-img,
  .card-icon-bg
    transition: all .35s ease-out

    & .bg-img
      transition: all .35s ease-out

  //.card-icon-bg-img,
  .card-icon-bg
    background: transparent
    position: relative
    & .bg-img
      opacity: 0
      //display: none
      //visibility: hidden
      //height: 0
      overflow: hidden
      //z-index: -2
      position: absolute
      top: 0
      bottom: 0
      left: 0
      right: 0
      margin: auto

@media(min-width: 1280px) and (max-width: 1919.5px)
  .cards-hovering-img
    display: flex
    flex-direction: row
    flex-wrap: nowrap

    .card-icon-bg-img,
    .card-icon-bg.card-neutral-white.col-lg-12
      height: 335px

    .card-icon-bg.card-neutral-white.col-lg-12
      width: calc(50% / 2 - 16px)
      margin-right: 16px
      flex-grow: 1
      margin-bottom: 0 !important

      &:last-child
        margin-right: 0

@media(min-width: 1920px)
  .cards-hovering-img
    display: flex
    flex-direction: row
    flex-wrap: nowrap

    .card-icon-bg-img,
    .card-icon-bg.card-neutral-white.col-lg-12
      height: 335px

    .card-icon-bg.card-neutral-white.col-lg-12
      width: calc(50% / 2 - 16px)
      margin-right: 16px
      flex-grow: 1
      margin-bottom: 0 !important

      &:last-child
        margin-right: 0




