.cards-interactive-test
  display: flex
  flex-wrap: wrap
  position: relative
  //justify-content: flex-end

@media(min-width: 960px)
  .cards-interactive-test

    .card-icon + .no-card
      display: flex
      flex-direction: column
      position: absolute
      top: 0
      right: 0

      & .card-img-bg
        //position: absolute
        //top: 0
        //bottom: 0
        //margin: auto
        //height: 40px
        height: auto

    & > .card-neutral-white,
    & > .card-neutral-white > .card-neutral-white:last-child
      margin-bottom: 0

@media(min-width: 640px) and (max-width: 959px)
  .cards-interactive-test

    & > .card-neutral-white
      margin-bottom: 16px

    & .card-img-bg
      & .img
        max-height: 300px
        min-height: 300px

        & img
          height: 100%


@media(min-width: 360px) and (max-width: 639px)
  .cards-interactive-test

    & > .card-neutral-white
      margin-bottom: 16px

    & .card-img-bg
      & .img
        max-height: 300px
        min-height: 300px

        & img
          height: 100%

