@import ../assets/colors.sass

.card
  &-neutral-white
    padding: 20px
    border-radius: 30px
    background: $color_neutral_white

$cards-gap: 8px
.card
  &-neutral-white
    & > .col-6,
    & > .col-5,
    & > .col-4,
    & > .col-3,
    & > .col-2,
    & > .col-1
      margin-right: $cards-gap


    &.col-12
      width: 100%
      margin-bottom: $cards-gap

    &.col-6
      width: calc(50% - $cards-gap / 2)
      margin-right: $cards-gap
      margin-bottom: $cards-gap

      &:nth-child(2n)
        margin-right: 0

    &.col-5
      width: calc(41.666666% - $cards-gap / 2)
      margin-right: $cards-gap
      margin-bottom: $cards-gap


    &.col-4
      width: calc(33.33333333% - $cards-gap * 2 / 3)
      margin-right: $cards-gap
      margin-bottom: $cards-gap

      &:nth-child(3n)
        margin-right: 0

    &.col-3
      width: calc(25% - $cards-gap * 3 / 4)
      margin-right: $cards-gap
      margin-bottom: $cards-gap

      &:nth-child(4n)
        margin-right: 0

    &.col-2
      width: calc(16.666666% - $cards-gap * 4 / 5)
      margin-right: $cards-gap
      margin-bottom: $cards-gap

      &:nth-child(12n)
        margin-right: 0

    &.col-1
      width: calc(8.333333% - $cards-gap * 5 / 6)
      margin-right: $cards-gap
      margin-bottom: $cards-gap

      &:nth-child(12n)
        margin-right: 0


    // Cols inda card
    & > .col-lg-6
      width: calc(50% - $cards-gap * 2 / 2)
      margin-right: $cards-gap * 2
      margin-bottom: $cards-gap

      &:nth-child(2n)
        margin-right: 0

    & > .col-lg-5
      width: calc(41.666666% - $cards-gap * 2 / 2)
      margin-right: $cards-gap * 2
      margin-bottom: $cards-gap


    & > .col-lg-4
      width: calc(33.33333333% - $cards-gap * 2 * 2 / 3)
      margin-right: $cards-gap * 2
      margin-bottom: $cards-gap

      &:nth-child(3n)
        margin-right: 0

    & > .col-lg-3
      width: calc(25% - $cards-gap * 2 * 3 / 4)
      margin-right: $cards-gap * 2
      margin-bottom: $cards-gap

      &:nth-child(4n)
        margin-right: 0

    & > .col-lg-2
      width: calc(16.666666% - $cards-gap * 2 * 5 / 6)
      margin-right: $cards-gap * 2
      margin-bottom: $cards-gap

      &:nth-child(6n)
        margin-right: 0

    & > .col-lg-1
      width: calc(8.333333% - $cards-gap * 2 * 5 / 6)
      margin-right: $cards-gap * 2
      margin-bottom: $cards-gap

      &:nth-child(12n)
        margin-right: 0






@media(min-width: 640px) and (max-width: 959px)
  $cards-gap: 8px
  .card
    &-neutral-white
      padding: 32px
      border-radius: 36px

      & > .col-md-6,
      & > .col-md-5,
      & > .col-md-4,
      & > .col-md-3,
      & > .col-md-2,
      & > .col-md-1
        margin-right: $cards-gap

      &.col-md-12
        width: 100%
        margin-bottom: $cards-gap

      &.col-md-6
        width: calc(50% - $cards-gap / 2)
        margin-right: $cards-gap
        margin-bottom: $cards-gap

        &:nth-child(2n)
          margin-right: 0

      &.col-md-5
        width: calc(41.666666% - $cards-gap / 2)
        margin-right: $cards-gap
        margin-bottom: $cards-gap


      &.col-md-4
        width: calc(33.33333333% - $cards-gap * 2 / 3)
        margin-right: $cards-gap
        margin-bottom: $cards-gap

        &:nth-child(3n)
          margin-right: 0

      &.col-md-3
        width: calc(25% - $cards-gap * 3 / 4)
        margin-right: $cards-gap
        margin-bottom: $cards-gap

        &:nth-child(4n)
          margin-right: 0

      &.col-md-2
        width: calc(16.666666% - $cards-gap * 5 / 6)
        margin-right: $cards-gap
        margin-bottom: $cards-gap

        &:nth-child(6n)
          margin-right: 0

      &.col-md-1
        width: calc(8.333333% - $cards-gap * 5 / 6)
        margin-right: $cards-gap
        margin-bottom: $cards-gap

        &:nth-child(12n)
          margin-right: 0


      // Cols inda card
      & > .col-md-6
        width: calc(50% - $cards-gap * 2 / 2)
        margin-right: $cards-gap * 2
        margin-bottom: $cards-gap

        &:nth-child(2n)
          margin-right: 0

      & > .col-md-5
        width: calc(41.666666% - $cards-gap * 2 / 2)
        margin-right: $cards-gap * 2
        margin-bottom: $cards-gap


      & > .col-md-4
        width: calc(33.33333333% - $cards-gap * 2 * 2 / 3)
        margin-right: $cards-gap * 2
        margin-bottom: $cards-gap

        &:nth-child(3n)
          margin-right: 0

      & > .col-md-3
        width: calc(25% - $cards-gap * 2 * 3 / 4)
        margin-right: $cards-gap * 2
        margin-bottom: $cards-gap

        &:nth-child(4n)
          margin-right: 0

      & > .col-md-2
        width: calc(16.666666% - $cards-gap * 2 * 5 / 6)
        margin-right: $cards-gap * 2
        margin-bottom: $cards-gap

        &:nth-child(6n)
          margin-right: 0

      & > .col-md-1
        width: calc(8.333333% - $cards-gap * 2 * 5 / 6)
        margin-right: $cards-gap * 2
        margin-bottom: $cards-gap

        &:nth-child(12n)
          margin-right: 0

@media(min-width: 960px) and (max-width: 1279px)
  $cards-gap: 16px
  .card
    &-neutral-white
      padding: 32px
      border-radius: 36px

      & > .col-lg-6,
      & > .col-lg-5,
      & > .col-lg-4,
      & > .col-lg-3,
      & > .col-lg-2,
      & > .col-lg-1
        margin-right: $cards-gap

      &.col-lg-12
        width: 100%
        margin-bottom: $cards-gap

      &.col-lg-6
        width: calc(50% - $cards-gap / 2)
        margin-right: $cards-gap
        margin-bottom: $cards-gap

        &:nth-child(2n)
          margin-right: 0

      &.col-lg-5
        width: calc(41.666666% - $cards-gap / 2)
        margin-right: $cards-gap
        margin-bottom: $cards-gap


      &.col-lg-4
        width: calc(33.33333333% - $cards-gap * 2 / 3)
        margin-right: $cards-gap
        margin-bottom: $cards-gap

        &:nth-child(3n)
          margin-right: 0

      &.col-lg-3
        width: calc(25% - $cards-gap * 3 / 4)
        margin-right: $cards-gap
        margin-bottom: $cards-gap

        &:nth-child(4n)
          margin-right: 0

      &.col-lg-2
        width: calc(16.666666% - $cards-gap * 5 / 6)
        margin-right: $cards-gap
        margin-bottom: $cards-gap

        &:nth-child(6n)
          margin-right: 0

      &.col-lg-1
        width: calc(8.333333% - $cards-gap * 5 / 6)
        margin-right: $cards-gap
        margin-bottom: $cards-gap

        &:nth-child(12n)
          margin-right: 0


      // Cols inda card
      & > .col-lg-6
        width: calc(50% - $cards-gap * 2 / 2)
        margin-right: $cards-gap * 2
        margin-bottom: $cards-gap

        &:nth-child(2n)
          margin-right: 0

      & > .col-lg-5
        width: calc(41.666666% - $cards-gap * 2 / 2)
        margin-right: $cards-gap * 2
        margin-bottom: $cards-gap


      & > .col-lg-4
        width: calc(33.33333333% - $cards-gap * 2 * 2 / 3)
        margin-right: $cards-gap * 2
        margin-bottom: $cards-gap

        &:nth-child(3n)
          margin-right: 0

      & > .col-lg-3
        width: calc(25% - $cards-gap * 2 * 3 / 4)
        margin-right: $cards-gap * 2
        margin-bottom: $cards-gap

        &:nth-child(4n)
          margin-right: 0

      & > .col-lg-2
        width: calc(16.666666% - $cards-gap * 2 * 5 / 6)
        margin-right: $cards-gap * 2
        margin-bottom: $cards-gap

        &:nth-child(6n)
          margin-right: 0

      & > .col-lg-1
        width: calc(8.333333% - $cards-gap * 2 * 5 / 6)
        margin-right: $cards-gap * 2
        margin-bottom: $cards-gap

        &:nth-child(12n)
          margin-right: 0

@media(min-width: 1280px) and (max-width: 1919px)
  $cards-gap: 16px
  .card
    &-neutral-white
      padding: 32px
      border-radius: 36px

      & > .col-xl-6,
      & > .col-xl-5,
      & > .col-xl-4,
      & > .col-xl-3,
      & > .col-xl-2,
      & > .col-xl-1
        margin-right: $cards-gap

      &.col-xl-12
        width: 100%
        margin-bottom: $cards-gap

      &.col-xl-6
        width: calc(50% - $cards-gap / 2)
        margin-right: $cards-gap
        margin-bottom: $cards-gap

        &:nth-child(2n)
          margin-right: 0

      &.col-xl-5
        width: calc(41.666666% - $cards-gap / 2)
        margin-right: $cards-gap
        margin-bottom: $cards-gap


      &.col-xl-4
        width: calc(33.33333333% - $cards-gap * 2 / 3)
        margin-right: $cards-gap
        margin-bottom: $cards-gap

        &:nth-child(3n)
          margin-right: 0

      &.col-xl-3
        width: calc(25% - $cards-gap * 3 / 4)
        margin-right: $cards-gap
        margin-bottom: $cards-gap

        &:nth-child(4n)
          margin-right: 0

      &.col-xl-2
        width: calc(16.666666% - $cards-gap * 5 / 6)
        margin-right: $cards-gap
        margin-bottom: $cards-gap

        &:nth-child(6n)
          margin-right: 0

      &.col-xl-1
        width: calc(8.333333% - $cards-gap * 5 / 6)
        margin-right: $cards-gap
        margin-bottom: $cards-gap

        &:nth-child(12n)
          margin-right: 0


      // Cols inda card
      & > .col-xl-6
        width: calc(50% - $cards-gap * 2 / 2)
        margin-right: $cards-gap* 2
        margin-bottom: $cards-gap

        &:nth-child(2n)
          margin-right: 0

      & > .col-xl-5
        width: calc(41.666666% - $cards-gap * 2 / 2)
        margin-right: $cards-gap* 2
        margin-bottom: $cards-gap


      & > .col-xl-4
        width: calc(33.33333333% - $cards-gap * 2 * 2 / 3)
        margin-right: $cards-gap* 2
        margin-bottom: $cards-gap

        &:nth-child(3n)
          margin-right: 0

      & > .col-xl-3
        width: calc(25% - $cards-gap * 2 * 3 / 4)
        margin-right: $cards-gap* 2
        margin-bottom: $cards-gap

        &:nth-child(4n)
          margin-right: 0

      & > .col-xl-2
        width: calc(16.666666% - $cards-gap * 2 * 5 / 6)
        margin-right: $cards-gap* 2
        margin-bottom: $cards-gap

        &:nth-child(6n)
          margin-right: 0

      & > .col-xl-1
        width: calc(8.333333% - $cards-gap * 2 * 5 / 6)
        margin-right: $cards-gap* 2
        margin-bottom: $cards-gap

        &:nth-child(12n)
          margin-right: 0

@media(min-width: 1920px)
  $cards-gap: 16px
  .card
    &-neutral-white
      padding: 32px
      border-radius: 36px

      &.col-xxl-12
        width: 100%
        margin-bottom: $cards-gap

      &.col-xxl-6
        width: calc(50% - $cards-gap / 2)
        margin-right: $cards-gap
        margin-bottom: $cards-gap

        &:nth-child(2n)
          margin-right: 0

      &.col-xxl-5
        width: calc(41.666666% - $cards-gap / 2)
        margin-right: $cards-gap
        margin-bottom: $cards-gap


      &.col-xxl-4
        width: calc(33.33333333% - $cards-gap * 2 / 3)
        margin-right: $cards-gap
        margin-bottom: $cards-gap

        &:nth-child(3n)
          margin-right: 0

      &.col-xxl-3
        width: calc(25% - $cards-gap * 3 / 4)
        margin-right: $cards-gap
        margin-bottom: $cards-gap

        &:nth-child(4n)
          margin-right: 0

      &.col-xxl-2
        width: calc(16.666666% - $cards-gap * 5 / 6)
        margin-right: $cards-gap
        margin-bottom: $cards-gap

        &:nth-child(6n)
          margin-right: 0

      &.col-xxl-1
        width: calc(8.333333% - $cards-gap * 5 / 6)
        margin-right: $cards-gap
        margin-bottom: $cards-gap

        &:nth-child(12n)
          margin-right: 0


      // Cols inside card
      & > .col-xxl-6
        width: calc(50% - $cards-gap * 2 / 2)
        margin-right: $cards-gap * 2
        margin-bottom: $cards-gap

        &:nth-child(2n)
          margin-right: 0

      & > .col-xxl-5
        width: calc(41.666666% - $cards-gap * 2 / 2)
        margin-right: $cards-gap * 2
        margin-bottom: $cards-gap


      & > .col-xxl-4
        width: calc(33.33333333% - $cards-gap * 2 * 2 / 3)
        margin-right: $cards-gap * 2
        margin-bottom: $cards-gap

        &:nth-child(3n)
          margin-right: 0

      & > .col-xxl-3
        width: calc(25% - $cards-gap * 2 * 3 / 4)
        margin-right: $cards-gap * 2
        margin-bottom: $cards-gap

        &:nth-child(4n)
          margin-right: 0

      & > .col-xxl-2
        width: calc(16.666666% - $cards-gap * 2 * 5 / 6)
        margin-right: $cards-gap * 2
        margin-bottom: $cards-gap

        &:nth-child(6n)
          margin-right: 0

      & > .col-xxl-1
        width: calc(8.333333% - $cards-gap * 2 * 5 / 6)
        margin-right: $cards-gap * 2
        margin-bottom: $cards-gap

        &:nth-child(12n)
          margin-right: 0
