.cards-services

  & h2 + p
    padding-top: 0

  & .card-neutral-white.card-icon-bg-img
    padding: 28px !important

    &:not(:last-child)
      margin-bottom: 8px
    &:last-child
      margin-bottom: 0

@media(min-width: 1280px)
  .cards-services
    & .card-neutral-white
        margin-bottom: 0


@media(max-width: 1280px)
  .cards-services

    & .card-neutral-white.col-lg-12
      margin-bottom: 8px !important

      &:last-child
        margin-bottom: 0 !important

@media(min-width: 360px) and (max-width: 639.5px)
  .cards-services

    & .card-neutral-white.card-icon-bg,
    & .card-neutral-white.card-icon-bg-img
      padding: 24px !important