.chemistry-center

  .chemistry-center .card-neutral-white
    z-index: 20 !important

  & .bg-img
    overflow: hidden
    & img
      display: block
      position: relative
      z-index: -1
      width: 100%
      height: 100%


@media(min-width: 360px) and (max-width: 639.5px)
  .chemistry-center

    & .no-card

      .icon-img
        margin-bottom: 19px

      & h4
        font-size: 12px !important
        font-weight: 500 !important

    &-hover-left

      & .icon-img
        margin-bottom: 19px

      & h4.h-4
        font-size: 16px !important
        line-height: 22px !important
        font-weight: 500 !important

      & .card-icon-bg-img
        text-align: left
        align-items: start


        & h4.h-4
          font-size: 22px !important
          line-height: 30px !important
          margin-top: 100px


@media(min-width: 640px) and (max-width: 959.5px)
  .chemistry-center

    & .no-card

      .icon-img
        margin-bottom: 19px

      & h4
        font-weight: 500 !important
        font-size: 16px

    &-hover-left

      & .icon-img
        margin-bottom: 19px

      & h4.h-4
        font-size: 16px !important
        line-height: 22px !important
        font-weight: 500 !important

      & .card-icon-bg-img
        text-align: left
        align-items: start


        & h4.h-4
          font-size: 22px !important
          line-height: 30px !important
          margin-top: 100px


@media(min-width: 960px) and (max-width: 1279.5px)
  .chemistry-center

    & .card-neutral-white
      padding: 20px !important

    & .no-card

      .icon-img
        margin-bottom: 19px

      & h4
        font-weight: 500 !important
        font-size: 16px

    &-hover-left

      & .card-neutral-white
        padding: 28px !important

      & h4.h-4
        font-size: 16px !important
        line-height: 22px !important
        font-weight: 500 !important

      & .icon-img
        margin-bottom: 19px

      & .card-icon-bg-img
        text-align: left
        align-items: start

        & h4.h-4
          font-size: 22px !important
          line-height: 30px !important
          margin-top: 100px
