@import ../assets/colors.sass

.dropdown-item
  display: flex
  justify-content: space-between
  align-items: center

  padding: 4px 8px !important
  border-radius: 8px !important

  span
    color: $color_neutral_grey

  &.hoverable:hover
    cursor: pointer
    background: $color_neutral_background_white

    span
      color: $color_neutral_black !important

