@import ../assets/colors.sass

.ghost
  display: flex
  align-items: center
  justify-content: center
  padding: 9px
  max-height: 30px
  border-radius: 100%

  &.medium
    padding: 14px
    max-width: 40px
    max-height: 40px

  &.big
    padding: 14px
    max-width: 43px
    max-height: 43px

  &-outline
    display: flex
    align-items: center
    justify-content: center
    padding: 9px
    max-height: 30px
    background-color: transparent
    border: 1px $color_neutral_white solid
    border-radius: 100%
    transition: all 0.25s ease

    &.medium
    padding: 14px
    max-width: 40px
    max-height: 40px

    &.big
      padding: 14px
      max-width: 43px
      max-height: 43px

    &:hover
      background-color: $color_neutral_white_20

    &:active
      border: 1px $color_neutral_white_50 solid

  &.disabled
    background-color: $color_neutral_light_grey !important
    filter: grayscale(1)

    &.hover
      background-color: $color_neutral_light_grey !important
      filter: grayscale(1)
