.hero-asc
  padding: 40px
  border: 1px solid blue
  overflow: hidden

  &-title
    padding-bottom: 40px
    position: relative

    &:after
      content: ''
      display: block
      height: 40px
      width: 40px
      background-color: blue

      position: absolute
    &:after
      right: 0
      bottom: 0


  &-subtitle
    padding-top: 40px