.hero-asc {
  background: #ccc;
}
.hero-asc * {
  color: #f2f2f2;
}
.hero-asc-scaffold {
  position: relative;
  min-height: 400px;
  height: 100vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  transition: all 0.35s ease-out;
}
.hero-asc-scaffold .hero-asc-text {
  display: inline-block;
  max-width: 50%;
}
.hero-asc-scaffold h2 {
  flex-basis: 20px;
  min-width: 20%;
}
.hero-asc-scaffold p {
  flex-basis: 20px;
  min-width: 20%;
}
.hero-asc-line-h {
  height: 5px;
  width: 100%;
  background: #F2F2F2;
  position: absolute;
  top: 0;
  transition: all 0.35s ease-out;
}
.hero-asc-line-v {
  width: 5px;
  height: 100%;
  background: #F2F2F2;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.35s ease-out;
}
.hero-asc-line-cross {
  width: 65px;
  height: 65px;
  position: absolute;
  top: -32.5px;
  left: -32.5px;
  background-image: url(../../img/components/hero/vizier-cross.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
  transition: all 0.35s ease-out;
}
.hero-asc-nav {
  display: flex;
  position: absolute;
  bottom: 40px;
  right: 40px;
}
.hero-asc-prev {
  margin-right: 8px;
}
.hero-asc-prev, .hero-asc-next {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: #f8f8f8 !important;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  box-shadow: 0px 97px 27px 0px rgba(214, 214, 214, 0);
  cursor: pointer;
}
.hero-asc-slide {
  padding: 40px;
  border: 1px solid blue;
  overflow: hidden;
  margin-bottom: 20px;
}
.hero-asc-title {
  display: inline-block;
  padding-bottom: 40px;
  position: relative;
}
.hero-asc-title:after {
  right: 0;
  bottom: 0;
}
.hero-asc-subtitle {
  padding-top: 40px;
}

@media (min-width: 360px) {
  .hero-asc {
    height: 740px;
  }
  .hero-asc-scaffold {
    height: 100%;
  }
  .hero-asc-scaffold-content {
    position: absolute;
    bottom: 103px;
    left: 0;
    right: 0;
    margin: auto;
  }
}
@media (min-width: 640px) {
  .hero-asc {
    height: 960px;
  }
  .hero-asc-scaffold {
    height: 100%;
  }
  .hero-asc-scaffold-content {
    position: absolute;
    bottom: 141px;
    left: 0;
    right: 0;
    margin: auto;
  }
}
@media (min-width: 960px) {
  .hero-asc {
    height: 640px;
  }
  .hero-asc-scaffold {
    height: 100%;
  }
  .hero-asc-scaffold-content {
    position: absolute;
    bottom: 61px;
    left: 0;
    right: 0;
    margin: auto;
  }
}
@media (min-width: 1280px) {
  .hero-asc {
    height: 841px;
  }
  .hero-asc-scaffold {
    height: 100%;
  }
  .hero-asc-scaffold-content {
    position: absolute;
    bottom: 123px;
    left: 0;
    right: 0;
    margin: auto;
  }
}
@media (min-width: 1920px) {
  .hero-asc {
    height: 1080px;
  }
  .hero-asc-scaffold {
    height: 100%;
  }
  .hero-asc-scaffold-content {
    position: absolute;
    bottom: 116px;
    left: 0;
    right: 0;
    margin: auto;
  }
}

/*# sourceMappingURL=hero_asc.css.map */
