@import ../assets/colors.sass

.img-slider,
.img-slider-x4,
.img-slider-x4_2,
.img-slider-x4_3,
.img-slider-x3
  .slide-item
    display: flex
    justify-content: center
    height: 282px
    border-radius: 36px
    overflow: hidden

    &.h-initial
      height: initial !important
      & .img
        height: initial

    &-subtitle
      height: auto
      flex-direction: column
      border-radius: 0

      .img
        width: 100%
        height: 258px
        border-radius: 36px
        overflow: hidden

      .title
        margin-top: 20px
        color: $color_neutral_black
        font-size: 16px

    .img
      width: 100%

      img
        height: 100%
        width: 100%
        object-fit: cover

  .owl-nav
    display: flex
    justify-content: flex-end
    padding-top: 52px

    .owl-prev
      margin-right: 8px
    .owl-prev,
    .owl-next
      //border: 1px solid blue !important
      width: 40px
      height: 40px
      background: #f8f8f8 !important
      -webkit-border-radius: 50%
      -moz-border-radius: 50%
      border-radius: 50%
      box-shadow: 0px 97px 27px 0px #D6D6D600

  .owl-dots
    display: flex
    justify-content: center
    margin-top: 20px

    .active
      opacity: .5

    button
      width: 5px
      height: 5px
      margin-right: 2px
      background-color: blue

@media(max-width: 640px)
  .img-slider
    .owl-nav
      padding-top: 32px