@import ../assets/colors.sass

.img-slider,
.img-slider-x4,
.img-slider-x4_2,
.img-slider-x4_3,
.img-slider-x3
  .slide-item
    display: flex
    justify-content: center
    height: 282px
    border-radius: 36px
    overflow: hidden

    transition: 0.5s ease

    &:hover
      box-shadow: 0px 5px 30px 1px rgba(0, 0, 0, 0.07)

    &.h-initial
      height: initial !important
      & .img
        height: initial

    &-subtitle
      height: auto
      flex-direction: column
      border-radius: 0

      .img
        width: 100%
        height: 258px
        border-radius: 36px
        overflow: hidden

      .title
        margin-top: 20px
        color: $color_neutral_black
        font-size: 16px

    .img
      width: 100%

      img
        height: 100%
        width: 100%
        object-fit: cover

  .owl-nav
    display: flex
    justify-content: flex-end
    padding-top: 52px

    .owl-prev
      margin-right: 8px
    .owl-prev,
    .owl-next
      //border: 1px solid blue !important
      width: 40px
      height: 40px
      background: #f8f8f8 !important
      -webkit-border-radius: 50%
      -moz-border-radius: 50%
      border-radius: 50%
      //box-shadow: 0px 97px 27px 0px #D6D6D600
      box-shadow: 0px 5px 30px 1px rgba(0, 0, 0, 0.07) !important
      display: flex
      justify-content: center
      align-items: center

  .owl-dots
    display: flex
    justify-content: center
    margin-top: 20px

    .active
      opacity: .5

    button
      width: 5px
      height: 5px
      margin-right: 2px
      background-color: blue

@media(max-width: 640px)
  .img-slider
    .owl-nav
      padding-top: 32px



// TAB PANEL
@media (min-width: 1920px)
  .img-slider,
  .img-slider-x4,
  .img-slider-x4_2,
  .img-slider-x4_3,
  .img-slider-x3
    & .owl-stage-outer
      & .owl-stage
        //padding: 0 calc((100% - 1792px) / 2) !important
        padding-left: calc((100% - 1792px) / 2) !important
        padding-right: calc((100% - 1792px) / 2) !important
      ////& .owl-item
      ////  &:first-child
      ////    margin-left: calc((100vw - 1792px) / 2) !important
      //  &:last-child
      //    margin-right: calc((100vw - 1792px) / 2) !important


@media(min-width: 1280px) and (max-width: 1919.5px)
  .img-slider,
  .img-slider-x4,
  .img-slider-x4_2,
  .img-slider-x4_3,
  .img-slider-x3
    & .owl-stage-outer
      & .owl-item
        //&:first-child
        //  margin-left: 32px
        //&:last-child
        //  margin-right: 32px
      //& > div:first-child
      //  margin-left: 32px !important
      //& > div:last-child
        margin-right: 32px !important


@media(min-width: 960px) and (max-width: 1279.5px)
  .img-slider,
  .img-slider-x4,
  .img-slider-x4_2,
  .img-slider-x4_3,
  .img-slider-x3
    & .owl-stage-outer
      & .owl-item
        //&:first-child
        //  margin-left: 32px
        //&:last-child
        //  margin-right: 32px
      //& > div:first-child
      //  margin-left: 32px !important
      //& > div:last-child
        margin-right: 32px !important


@media(min-width: 640px) and (max-width: 960px)
  .img-slider,
  .img-slider-x4,
  .img-slider-x4_2,
  .img-slider-x4_3,
  .img-slider-x3
    & .owl-stage-outer
      & .owl-item
        //&:first-child
        //  margin-left: 32px
        //&:last-child
        //  margin-right: 32px
      //& > div:first-child
      //  margin-left: 32px !important
      //& > div:last-child
        margin-right: 32px !important


@media(min-width: 360px) and (max-width: 640px)
  .img-slider,
  .img-slider-x4,
  .img-slider-x4_2,
  .img-slider-x4_3,
  .img-slider-x3
    & .owl-stage-outer
      & .owl-item
        //&:first-child
        //  margin-left: 32px
        //&:last-child
        //  margin-right: 32px
      //& > div:first-child
      //  margin-left: 32px !important
      //& > div:last-child
        margin-right: 32px !important
