@import ../assets/colors.sass

.input
  border-radius: 100px
  padding: 12px 16px
  color: $color_neutral_black
  background: $color_neutral_white
  border: 1px solid #00000000
  outline: none
  font-size: 14px

  &::placeholder
    color: $color_neutral_light_grey

  &:focus-visible
    border-color: $color_primary_light_green !important

  &.warning
    border-color: $color_direct_foundation !important

  &.error
    border-color: $color_neutral_error !important