@import ../assets/colors.sass

.link
  &-safety
      background-image: $gradient_safety
      color: transparent
      background-clip: text

      &:hover
        background-image: $hover_safety !important
  &-ecology
      background-image: $gradient_ecology
      color: transparent
      background-clip: text

      &:hover
        background-image: $hover_ecology !important
  &-surveys
      background-image: $gradient_surveys
      color: transparent
      background-clip: text

      &:hover
        background-image: $hover_surveys !important
  &-academy
      background-image: $gradient_academy
      color: transparent
      background-clip: text

      &:hover
        background-image: $hover_academy !important
  &-soft
      background-image: $gradient_soft
      color: transparent
      background-clip: text

      &:hover
        background-image: $hover_soft !important
  &-foundation
      background-image: $gradient_foundation
      color: transparent
      background-clip: text

      &:hover
        background-image: $hover_foundation !important
  &-journal
      background-image: $gradient_journal
      color: transparent
      background-clip: text

      &:hover
        background-image: $hover_journal !important
  &-certification
      background-image: $gradient_certification
      color: transparent
      background-clip: text

      &:hover
        background-image: $hover_certification !important
  &-people
      background-image: $gradient_people
      color: transparent
      background-clip: text

      &:hover
        background-image: $hover_people !important
  &-life
      background-image: $gradient_life
      color: transparent
      background-clip: text

      &:hover
        background-image: $hover_life !important

