@import ../assets/colors.sass

a.link
  &-safety
      background-image: $gradient_safety
      color: transparent
      background-clip: text
  &-ecology
      background-image: $gradient_ecology
      color: transparent
      background-clip: text
  &-surveys
      background-image: $gradient_surveys
      color: transparent
      background-clip: text
  &-academy
      background-image: $gradient_academy
      color: transparent
      background-clip: text
  &-soft
      background-image: $gradient_soft
      color: transparent
      background-clip: text
  &-foundation
      background-image: $gradient_foundation
      color: transparent
      background-clip: text
  &-journal
      background-image: $gradient_journal
      color: transparent
      background-clip: text
  &-certification
      background-image: $gradient_certification
      color: transparent
      background-clip: text
  &-people
      background-image: $gradient_people
      color: transparent
      background-clip: text
  &-life
      background-image: $gradient_life
      color: transparent
      background-clip: text

