@import ../assets/colors.sass
@import ../assets/text.sass

.menu-footer
  display: flex
  flex-direction: column
  gap: 16px
  width: 100%
  transition: transform 0.2s ease

  & > *:first-child
    display: flex
    align-items: center
    text-decoration: none
    color: $color_neutral_white

  & > *:first-child::after
    content: ""
    display: block
    width: 12px
    height: 12px
    margin-left: 4px
    background-image: url(../../img/assets/icons/small/arrow_down_white.svg)
    background-size: 100%
    transition: transform 0.2s ease
    transform: rotate(0deg)

  & > *:not(:first-child)
    display: none

  &.active

    & > *:not(:first-child)
      display: flex

    & > *:first-child::after
      transform: rotate(180deg)

.menu-footer-list
  display: flex
  flex-direction: column
  gap: 8px
  margin-left: 12px
  display: inline-flex

  & > *
    text-decoration: none
    color: $color_neutral_light_grey

@media (min-width: 960px)
  .menu-footer-list
    margin-left: 0px
    display: flex !important

    & > *:hover
      color: $color_neutral_white
      width: auto

  .menu-footer

    & > *:first-child::after
      display: none