.menu-sight
  position: relative
  justify-content: flex-end
  align-items: center
  width: 4px
  top: 1px
  left: 38px
  pointer-events: none
  z-index: 1

.menu-visir-axis
  position: absolute
  width: 2px

.menu-visir-left
  position: absolute
  left: -283px
  transition: top .4s
  width: 284px
  min-width: 284px
  pointer-events: none
  z-index: 1

.menu-visir-right
  position: absolute
  transition: top .4s
  pointer-events: none
  left: 1px
  z-index: 1


