@import ../assets/colors.sass
@import ../assets/animations.sass
@import ../assets/text.sass

.menu-link
  position: relative
  padding-bottom: 20px
  z-index: 3

  & > *
    color: $color_neutral_black
    background: $color_neutral_white
    cursor: pointer
    text-decoration: none
    @include hover-transition

  & > *:hover
    color: $color_primary_dark_green

  & > *.active
    color: $color_primary_dark_green

  &.active > *
    color: $color_primary_dark_green

.menu-header
  display: flex
  font-family: $font-main
  font-size: 14px
  line-height: 19.1px
  font-weight: 600
  max-height: 100%

  &.horizontal
    flex-direction: row
    gap: 16px
    transition: opacity 0.35s ease

  &.vertical
    flex-direction: column

  & > *
    color: $color_neutral_black
    cursor: pointer
    text-decoration: none
    @include hover-transition

  & > *:hover
    color: $color_primary_dark_green

  & > *.active
    color: $color_primary_dark_green

  &.mobile
    display: none
    flex-direction: column
    gap: 10px
    width: 100%
    overflow: scroll

    &.active
      display: flex

    & > .menu-item //First level
      @include text-caption-bold

      & > *:first-child
        display: flex
        align-items: center
        text-decoration: none
        color: $color_neutral_black
        transition: color 0.35s ease

        &:hover
          color: $color_primary_dark_green

      &:has(:not(:first-child)) > *:first-child::after
        content: ""
        display: block
        width: 12px
        height: 12px
        margin-left: auto
        background-image: url(../../img/assets/icons/small/arrow_up_black.svg)
        background-size: 100%
        transition: transform 0.2s ease
        transform: rotate(180deg)

      & > *:not(:first-child)
          display: none

      &.active

        & > *:not(:first-child)
          display: flex

        & > *:first-child::after
          transform: rotate(0deg)

      & > .menu-item //Second level
        margin-top: 6px
        margin-left: 12px
        @include text-label

        & > *:first-child
          display: flex
          align-items: center
          text-decoration: none
          color: $color_neutral_black
          transition: color 0.35s ease

          &:hover
            color: $color_primary_dark_green

        &:has(:not(:first-child)) > *:first-child::before
          content: ""
          display: block
          width: 12px
          height: 12px
          margin-right: 8px
          background-image: url(../../img/assets/icons/small/arrow_up_black.svg)
          background-size: 100%
          transition: transform 0.2s ease
          transform: rotate(180deg)

        & > *:not(:first-child)
          display: none

        &.active
          flex-direction: column

          & > *:not(:first-child)
            display: flex

          & > *:first-child::before
            transform: rotate(0deg)

        & > .menu-item //Third level
          margin-top: 6px
          margin-left: 32px

          & > *
            text-decoration: none
            color: $color_neutral_grey
            transition: color 0.35s ease

            &:hover
              color: $color_primary_dark_green

@media (min-width: 1920px)
  .menu-header
    &.horizontal
      gap: 48px

.menu-header-button
  display: flex
  align-items: center
  justify-content: center
  padding: 14px
  max-width: 43px
  max-height: 43px
  border-radius: 100px
  cursor: pointer

  &::after
    content: ""
    display: block
    width: 12px
    height: 12px
    margin-left: auto
    background-image: url(../../img/assets/icons/small/icon_menu_white.svg)

  &.active
    &::after
      background-image: url(../../img/assets/icons/small/icon_exit_white.svg)