.menu-sight
  position: relative
  justify-content: flex-end
  align-items: center
  top: 1px
  left: 38px
  pointer-events: none
  z-index: 1

.menu-visir-left
  position: absolute
  left: -283.7px
  transition: top .4s
  width: 284px
  min-width: 284px
  pointer-events: none
  z-index: 1

.menu-visir-right
  position: absolute
  left: 2.4px
  transition: top .4s
  pointer-events: none
  z-index: 1


