@import ../assets/colors.sass

.news
  position: relative

  & .btn-news
    position: absolute
    bottom: 20px
    //left: 0
    z-index: 20

  & .dropdown
      position: absolute
      top: 0
      right: 0
      z-index: 80

  & .owl-nav
    padding-bottom: 20px

  & .slide-item
    &:hover
      & h4.title-primary.color-grey
        color: $color_neutral_black !important

  &-hoverable
    & .owl-stage
      display: flex

      padding-top: 18px

      &-outer
        margin-top: -18px


    & .slide-item
      display: flex
      flex-direction: column
      justify-content: flex-start
      padding: 16px
      height: 100% !important
      min-height: 100% !important

      border-radius: 30px

      overflow: hidden

      -webkit-transition: all .35s ease-out
      -moz-transition: all .35s ease-out
      -ms-transition: all .35s ease-out
      -o-transition: all .35s ease-out
      transition: all .35s ease-out

      & .img
        -webkit-border-radius: 16px
        -moz-border-radius: 16px
        border-radius: 16px

      &:hover
        background: $color_neutral_white

  & .dropdown
    width: calc((100% / 4) / 3 * 2)

@media(min-width: 1280px) and (max-width: 1919.5px)
  .news
    & .dropdown
      width: calc(100% / 3)

@media(min-width: 960px) and (max-width: 1279.5px)
  .news
    & .dropdown
      width: calc(100% / 2)



@media(min-width: 360px) and (max-width: 639.5px)
  .news
    & .card-neutral-white
      & > h4
        font-size: 16px !important
        font-weight: 500 !important
        line-height: 18px

    & .dropdown
      width: 100%
      position: relative
      margin-bottom: 48px


@media(min-width: 640px) and (max-width: 959.5px)
  .news
    & .card-neutral-white
      & > h4
        font-size: 16px !important
        font-weight: 500 !important
        line-height: 18px

    & .dropdown
      width: 50%

@media(min-width: 360px) and (max-width: 639.5px)
  .news
    & .btn-news
      display: inline-block
      //position: static
      max-height: initial