@import ../assets/colors.sass

ul.plus-list
  &-safety,
  &-life
    padding: 0

    li
      display: flex
      padding: 4px 0
      margin-bottom: 4px

      font-size: 16px
      line-height: 22px


      &:before
        content: ''
        display: inline-block
        min-width: 11.4px
        height: 18px
        margin-right: 8.4px
        list-style: none
        fill: blue
        stroke: blue

      span
        font-size: 16px
        line-height: 22px


      b
        font-weight: 500
        color: $color_neutral_black

  &-safety
    li:before
      background: url(../../img/assets/icons/small/icon_visir_safety.svg) center center no-repeat

  &-life
    li:before
      background: url(../../img/assets/icons/small/icon_visir_life.svg) center center no-repeat
