@keyframes ticker
  0%
    transform: translateX(0)
  100%
    transform: translateX(-50%)

@keyframes ticker-reverse
  0%
    transform: translateX(-50%)
  100%
    transform: translateX(0)

.running-line-wrapper
  position: relative
  overflow: hidden
  width: 100%

.running-line
  display: flex
  width: fit-content
  animation: ticker 80s linear infinite
  -webkit-transform-style: preserve-3d

  &:hover
    animation-play-state: paused

.running-line-reverse
  display: flex
  width: fit-content
  animation: ticker-reverse 80s linear infinite
  -webkit-transform-style: preserve-3d

  &:hover
    animation-play-state: paused

.running-line-item
  white-space: nowrap
  -webkit-backface-visibility: hidden
