@import ../assets/colors.sass

.search-result
  position: absolute
  display: none
  width: 100%
  min-height: 323px
  top: 65.5px
  margin-left: 4px

  &.active
    display: block

.search-value
  border-bottom: $color_neutral_light_grey solid 1px

.search
  display: flex
  padding: 14px 25px
  background: $color_neutral_background_white
  border-radius: 100px
  align-items: center
  justify-content: center
  max-height: 40px
  margin-left: 4px
  transition: all .5s ease
  width: 62px
  cursor: pointer

  & input
    display: none
    border: none
    background: transparent
    padding: 0 4px
    height: 19px

    &:focus
      outline: none

  .search-button
    display: block
    width: 12px
    height: 12px
    margin-left: auto
    cursor: pointer

  .search-close
    display: none
    width: 12px
    height: 12px
    margin-left: auto
    cursor: pointer

  &.active
    padding: 14px 13px
    width: 73vw
    cursor: auto

    & input
      display: block
      width: 100%

    .search-close
      display: block

  &-mobile
    display: flex
    padding: 10.5px 9.5px
    align-items: center
    max-height: 40px
    border-bottom: 2px $color_neutral_grey solid

    & input
      display: block
      border: none
      background: transparent
      width: 100%
      padding: 0 13.5px
      height: 19px

      &:focus
        outline: none

    .search-button
      display: block
      min-width: 12px
      min-height: 12px
      background-image: url(../../img/assets/icons/small/icon_search_grey.svg)
      background-size: 100%

    .search-close
      display: block
      min-width: 12px
      min-height: 12px
      background-image: url(../../img/assets/icons/small/icon_exit_grey.svg)
      background-size: 100%

@media (min-width: 1920px)
  .search
    &.active
      width: 79vw

