.simple-slider
  overflow-x: scroll !important /* Важно! */
  scroll-behavior: smooth
  scroll-snap-type: x mandatory
  -webkit-overflow-scrolling: touch
  cursor: grab
  scrollbar-width: none /* Скрыть скроллбар в Firefox */


.simple-slider::-webkit-scrollbar
  display: none /* Скрыть скроллбар в Chrome/Safari */


.simple-slider.dragging
  cursor: grabbing
  scroll-behavior: auto
