@import ../assets/colors.sass

.slider-staff

  & .slide-item

    & .card-img-bg,
    & .card-icon
      transition: 0.5s ease


    &:hover

      & .card-img-bg,
      & .card-icon
        box-shadow: 0 5px 30px 1px rgba(0,0,0,.07) !important
        //transform: translateY(-3px)

        & h4
          color: $color_neutral_black !important

@media(max-width: 1280px)
  .slider-staff

    & .slide-item

      & .card-img-bg
        //transition: 0.5s ease
        height: 164px

      & .staff-content
        & .img,
        & h4
          margin-bottom: 8px !important