@import ../assets/colors.sass

$icon-size: 29px

@mixin tag_base

  display: inline-block

  padding: 12px 24px
  margin-right: 8px
  text-decoration: none

  border-radius: 50px

  background: $color_neutral_white
  color: $color_neutral_black
  font-size: 14px
  font-weight: 500
  line-height: 100%

  overflow: hidden

  border: none
  outline: none
  cursor: pointer

  position: relative

  transition: all .35s ease-out


.tag
  &-white,
  &-black,
  &-outline,

  &-safety,
  &-ecology,
  &-surveys,
  &-academy,
  &-soft,
  &-foundation,
  &-journal,
  &-certification,
  &-people,
  &-life
    @include tag_base



// ACTIVE STATE
.tag

  &-black
    &:not(.active)
      color: $color_neutral_white
      background: $color-neutral-dark-grey
    &.active
      background: $color_neutral_white
      color: $color_neutral_black

  &-outline.active
    color: $color_neutral_white
    background: transparent
    color: $color_neutral_black
    border: 1px solid $color_neutral_black



  // GRADIENTAL
  &-safety.active
    color: $color_neutral_white
    background: $color_direct_safety

  &-ecology.active
    color: $color_neutral_white
    background: $color_direct_ecology

  &-surveys.active
    color: $color_neutral_white
    background: $color_direct_surveys

  &-academy.active
    color: $color_neutral_white
    background: $color_direct_academy

  &-soft.active
    color: $color_neutral_white
    background: $color_direct_soft

  &-foundation.active
    color: $color_neutral_white
    background: $color_direct_foundation

  &-journal.active
    color: $color_neutral_white
    background: $color_direct_journal

  &-certification.active
    color: $color_neutral_white
    background: $color_direct_certification

  &-people.active
    color: $color_neutral_white
    background: $color_direct_people

  &-life.active
    color: $color_neutral_white
    background: $color_direct_life


