@import ../assets/colors.sass

@mixin title_base
  font-family: 'Wix Madefor Display'
  margin-bottom: 52px
  font-weight: bold

@mixin title_card_base
  font-family: 'Wix Madefor Display'
  font-weight: 600
  margin-bottom: 20px
  color: transparent
  background-clip: text
  line-height: 100%

.title
  &-safety,
  &-ecology,
  &-surveys,
  &-academy,
  &-soft,
  &-foundation,
  &-journal,
  &-certification,
  &-people,
  &-life
    @include title_base

    color: $color_neutral_black

    & span
      background-image: $gradient-safety
      color: transparent
      background-clip: text

  &-card

    &-safety
      @include title_card_base
      background-image: $gradient_safety

    &-ecology
      @include title_card_base
      background-image: $gradient_ecology

    &-surveys
      @include title_card_base
      background-image: $gradient_surveys

    &-academy
      @include title_card_base
      background-image: $gradient_academy

    &-soft
      @include title_card_base
      background-image: $gradient_soft

    &-foundation
      @include title_card_base
      background-image: $gradient_foundation

    &-journal
      @include title_card_base
      background-image: $gradient_journal

    &-certification
      @include title_card_base
      background-image: $gradient_certification

    &-people
      @include title_card_base
      background-image: $gradient_people

    &-life
      @include title_card_base
      background-image: $gradient_life


.title
  &-safety
    & span
      background-image: $gradient_safety
      color: transparent
      background-clip: text
  &-ecology
    & span
      background-image: $gradient_ecology
      color: transparent
      background-clip: text
  &-surveys
    & span
      background-image: $gradient_surveys
      color: transparent
      background-clip: text
  &-academy
    & span
      background-image: $gradient_academy
      color: transparent
      background-clip: text
  &-soft
    & span
      background-image: $gradient_soft
      color: transparent
      background-clip: text
  &-foundation
    & span
      background-image: $gradient_foundation
      color: transparent
      background-clip: text
  &-journal
    & span
      background-image: $gradient_journal
      color: transparent
      background-clip: text
  &-certification
    & span
      background-image: $gradient_certification
      color: transparent
      background-clip: text
  &-people
    & span
      background-image: $gradient_people
      color: transparent
      background-clip: text
  &-life
    & span
      background-image: $gradient_life
      color: transparent
      background-clip: text


h2.title
  &-safety,
  &-ecology,
  &-surveys,
  &-academy,
  &-soft,
  &-foundation,
  &-journal,
  &-certification,
  &-people,
  &-life
    font-size: 40px
    line-height: 45px

h4.title
  &-safety,
  &-ecology,
  &-surveys,
  &-academy,
  &-soft,
  &-foundation,
  &-journal,
  &-certification,
  &-people,
  &-life
    margin-bottom: 20px
    font-size: 22px
    line-height: 28px

.title
  &-safety,
  &-ecology,
  &-surveys,
  &-academy,
  &-soft,
  &-foundation,
  &-journal,
  &-certification,
  &-people,
  &-life
    & + .subtitle
      font-size: 16px
      line-height: 22px
      margin-bottom: 52px

.title
  &-safety,
  &-ecology,
  &-surveys,
  &-academy,
  &-soft,
  &-foundation,
  &-journal,
  &-certification,
  &-people,
  &-life
    & ~ p
      font-size: 16px
      line-height: 22px
      margin-bottom: 20px

      &:last-child
        margin-bottom: 52px



@media(max-width: 640px)
  h2.title
    &-safety,
    &-ecology,
    &-surveys,
    &-academy,
    &-soft,
    &-foundation,
    &-journal,
    &-certification,
    &-people,
    &-life
      font-size: 28px
      line-height: 32px
      margin-bottom: 32px

      & ~ p
        padding-top: calc(52px - 32px)

        &:last-of-type
          margin-bottom: 32px